@import "mixins";

$icon_size: 40px;

.social-links {
    display: inline-block;
  a {
    display: inline-block;
    margin-right: 15px;
    width: 40px;
    vertical-align: middle;
    @include opacity(1);

    &:last-child {
      margin-right: 0;
    }

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
      background: $sprite_url no-repeat;
      background-size: rel-background-size($icon_size, $icon_size);
    }

    &.wr:before {
      background-position: rel-background-position($icon_size, $icon_size, 0, 0);
    }
    &.fb:before {
      background-position: rel-background-position($icon_size, $icon_size, -80px, 0px);
    }
    &.ln:before {
      background-position: rel-background-position($icon_size, $icon_size, -120px, 0px);
    }

    &:hover {
         @include transform-links;
      
    }
  }
}
