@import "mixins";

.social-button {
  display: inline-block;
  margin-right: 5px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: url(../img/buttons.png) no-repeat;
  @include fontsize_default;
  @include border_radius(45%);

  &:last-child {
    margin-right: 0;
  }

  &.social-vk {
    background-position: 0 0;
  }
  &.social-fb {
    background-position: -42px 0;
  }
  &.social-tw {
    background-position: -84px 0;
  }
  &.social-gp {
    background-position: -126px 0;
  }
  &.social-li {
    background-position: -168px 0;
  }
  &.social-pn {
    background-position: -210px 0;
  }
}
