@import 'mixins';

.comments-wrapper {
  form {
    button {
      margin-right: 10px;
      @include default_fontsize;
    }

    textarea {
      width: 100%;
      @include default_fontsize;
    }
  }

  .comments-form-wrapper {
    .auth-needed {
      background: #DADADA;
      padding: 20px;
    }
  }
}

.comment {
  margin-bottom: 20px;
  line-height: 1;
  @include no_fontsize;

  .info {
    color: #808080;
    @include clearfix;

    .avatar {
      float: left;
      margin-right: 10px;
    }

    .nickname {
      color: #A0A0A0;
      font-weight: bold;
      @include font-size(12px);

      &:hover {
        text-decoration: underline;
      }
    }

    time {
      margin-left: 12px;
      @include font-size(10px);
    }

    .hashlink {
      margin-left: 12px;
      @include font-size(12px);
    }

    .rating {
      float: right;
      margin-top: 5px;

      span {
        font-weight: bold;
        vertical-align: middle;
        @include font-size(13px);
      }

      a {
        display: inline-block;
        width: 22px;
        height: 22px;
        margin-left: 8px;
        vertical-align: middle;
        @include unselectable;

        &.rating-like {
          background: url(../img/like.png);
        }
        &.rating-dislike {
          background: url(../img/dislike.png);
        }
      }

      &.disabled a {
        @include grayscale;
        @include opacity(0.5);

        &.voted {
          @include grayscale-disabled;
          @include opacity(1);
        }
      }
    }
  }

  .text {
    color: white;
    margin-top: 12px;
    margin-bottom: 10px;
    word-break: break-all;
    @include default_fontsize;
  }

  .actions {
    margin-top: 4px;
    @include font-size(10px);

    a {
      color: #808080;
      margin-right: 8px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
  &.inner-form-reply .reply {
    color: #D0D0D0;
  }
  &.inner-form-edit .edit {
    color: #D0D0D0;
  }

  > .form {
    margin-top: 14px;
  }

  &.comment-level-1 {
    margin-left: 32px;
  }
  &.comment-level-2 {
    margin-left: 64px;
  }
  &.comment-level-3 {
    margin-left: 96px;
  }
  &.comment-level-4 {
    margin-left: 128px;
  }
  &.comment-level-5 {
    margin-left: 160px;
  }
}

.comment-deleted {
  .text {
    color: #808080;
    text-decoration: line-through;
  }
}

.comment-highlighted {
  background-color: #c0c0c0;
}
