@import "mixins";

$cart_table: $media768;

body {
  &.cart-visible {
    padding-top: 90px;
    @include media_interval(0, $media880) {
      padding-top: 82px;
    }
  }
}

#cart {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  color: $light;
  line-height: 1;
  text-transform: uppercase;
  background-color: $green;
  @include no_fontsize;

  .table {
    margin: 20px 0;
    @include media_interval($cart_table, 0) {
      display: table;
      width: 100%;
    }
    @include media_interval(0, $cart_table) {
      @include clearfix;
    }
  }

  .cell {
    @include media_interval($cart_table, 0) {
      display: table-cell;
      vertical-align: middle;
    }

    &.title-cell {
      @include media_interval(0, $cart_table) {
        float: left;
      }
    }

    &.info-cell {
      text-align: right;

      .count, .mdash, .price {
        font-weight: bold;
        vertical-align: middle;
        @include font-size(16px);
        @include media_interval(0, $media768) {
          @include font-size(14px);
        }
      }
    }
  }

  .title {
    letter-spacing: 0.2em;
    @include italic_font;
    @include font-size(36px);
    @include media_interval($cart_table, $media880) {
      @include font-size(30px);
    }
    @include media_interval(0, $cart_table) {
      color: $dark_gray;
      @include font-size(10px);
    }
  }

  .count,
  .price {
    letter-spacing: 0.1em;
    @include italic_font;
    @include media_interval(0, $cart_table) {
      float: left;
      clear: left;
      margin-top: 2px;
    }
  }

  .mdash {
    @include italic_font;
    @include media_interval(0, $cart_table) {
      display: none;
    }
  }


  .button {
    width: 240px;
    margin-left: 36px;
    padding: 14px 15px;
    vertical-align: middle;
    border: 2px solid $light;
    @include media_interval(0, $media880) {
      width: 200px;
      margin-left: 24px;
    }
    @include media_interval($media400, $media768) {
      width: 170px;
      padding: 10px 15px;
      @include font-size(14px);
    }
    @include media_interval(0, $media400) {
      width: 125px;
      padding: 12px 15px;
      @include font-size(14px);
    }
  }
}