{% extends 'admin/change_form.html' %}

{% load i18n %}

{% block object-tools-items %}
  <li>
    <a href="javascript: void(0)" class="sendtest-btn">
      <i class="icon-envelope icon-alpha75"></i>
      {% trans "Send test e-mail" %}
    </a>
  </li>

  {{ block.super }}
{% endblock object-tools-items %}


{% block content %}
  {{ block.super }}

  <div id="sendtest-dialog" class="hide">
    <form action="{{ sendtest_url }}" method="post" class="sendtest-form">
      {% csrf_token %}

      <div class="field">
        <label for="sendtest-email">E-mail</label>
        <input type="email" id="sendtest-email" name="receiver" required>
      </div>
    </form>
  </div>

{% endblock content %}
