{% extends 'admin/change_list.html' %}

{% load admin_urls %}
{% load i18n %}

{% block object-tools-items %}
  {% if has_add_permission %}
    <a href="{% url cl.opts|admin_urlname:'download_csv' %}" class="btn btn-info">
      <i class="icon-download icon-white"></i>
      {% trans 'Download CSV' %}
    </a>

    <button data-url="{% url cl.opts|admin_urlname:'upload_csv' %}" class="upload-csv btn btn-info">
      <i class="icon-upload icon-white"></i>
      {% trans 'Upload CSV' %}
    </button>
  {% endif %}

  {{ block.super }}
{% endblock %}