{% extends 'layout.html' %}

{% load pipeline %}


{% block static_head %}
  {{ block.super }}
  {% stylesheet 'shop_category' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'shop_category' %}
{% endblock static_js %}


{% block content %}

  <div class="block grid-block">
    <h1 class="title-h1">{{ category.title }}</h1>

    <ul class="list">
      {% for product in category.products %}
        <li>
          <a href="{{ product.get_absolute_url }}" class="product-link">
            <img src="{{ product.photo.admin_micro.url }}"/>
            {{ product.title }} ({{ product.price }})
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
