{% extends 'layout.html' %}

{% load pipeline %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'shop_detail' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'shop_detail' %}
{% endblock static_js %}


{% block content %}

  <div class="block grid-block">
    <h1 class="title-h1">{{ product.title }}</h1>

    <img src="{{ product.photo.normal.url }}" class="photo">

    <div class="price">Price: {{ product.price }}</div>

    <div class="text-styles">
      {{ product.description|clean }}
    </div>
  </div>

{% endblock content %}
