{% load i18n %}

<div class="shop-block-title-wrapper">
  <div class="grid">
    <div class="shop-block-title gray-title gc gc-alone">{{ title }}</div>
  </div>
</div>

<div class="shop-block-front">
  {% csrf_token %}
  <div class="grid">
    <div class="shop-block-content">
      <div class="shop-block-background gc-wide-10"></div>
      <div class="shop-block-overlay gc gc-alone">

        <div class="shop-block-variant shop-block-items-display">
          <div class="shop-block-items">
            {% for product in products %}
              {% if forloop.counter0|divisibleby:3 %}
                <div class="shop-block-items-row">
              {% endif %}

            <div class="shop-block-items-cell">
              <div class="shop-block-item">
                <div class="photo">
                  <a href="{% url 'shop:detail' alias=product.alias %}">
                    <img src="{{ product.photo.slider.url }}" class="product-photo"
                         width="{{ product.photo.slider.dimensions.0 }}"
                         height="{{ product.photo.slider.dimensions.1 }}"
                         alt="{{ product.title }}">
                  </a>
                </div>

                <div class="note">
                  <div class="title">
                    <a href="{% url 'shop:detail' alias=product.alias %}">{{ product.title }}</a>
                  </div>

                  <div class="price">{{ product.price.utf }}</div>
                  {% csrf_token %}
                  <a href="javascript: void(0)" data-serial="{{ product.serial }}"
                     class="button animated cart-button add-cart">
                    <span>{% trans 'Add to cart' %}</span>
                  </a>
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:3 or forloop.last %}
              </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="pager-wrapper"></div>
        </div>

        <div class="shop-block-variant shop-block-items-tablet">
          <div class="shop-block-items">
            {% for product in products %}
              {% if forloop.counter0|divisibleby:2 %}
                <div class="shop-block-items-row">
              {% endif %}

            <div class="shop-block-items-cell">
              <div class="shop-block-item">
                <div class="photo">
                  <a href="{% url 'shop:detail' alias=product.alias %}">
                    <img src="{{ product.photo.slider.url }}" class="product-photo"
                         width="{{ product.photo.slider.dimensions.0 }}"
                         height="{{ product.photo.slider.dimensions.1 }}"
                         alt="{{ product.title }}">
                    {% if product.shadow %}
                      <img src="{{ product.shadow.url }}" class="product-photo-shadow">
                    {% endif %}
                  </a>
                </div>

                <div class="note">
                  <div class="title">{{ product.title }}</div>
                  {% if product.info %}
                    <div class="info">{{ product.info }}</div>
                  {% endif %}
                  <div class="price">{{ product.price.utf }}</div>
                  {% csrf_token %}
                  <a href="javascript: void(0)" data-serial="{{ product.serial }}"
                     class="button animated cart-button add-cart">
                    <span>{% trans 'Add to cart' %}</span>
                  </a>
                </div>
              </div>
            </div>

            {% if forloop.counter|divisibleby:2 or forloop.last %}
              </div>
            {% endif %}
            {% endfor %}
          </div>

          <div class="pager-wrapper"></div>
        </div>

        <div class="shop-block-variant shop-block-items-mobile">
          <div class="shop-block-items">
            {% for product in products %}
              <div class="shop-block-item">
                <div class="photo">
                  <a href="{% url 'shop:detail' alias=product.alias %}">
                    <img src="{{ product.photo.slider.url }}" class="product-photo"
                         width="{{ product.photo.slider.dimensions.0 }}"
                         height="{{ product.photo.slider.dimensions.1 }}"
                         alt="{{ product.title }}">
                    {% if product.shadow %}
                      <img src="{{ product.shadow.url }}" class="product-photo-shadow">
                    {% endif %}
                  </a>
                </div>

                <div class="note">
                  <div class="title">{{ product.title }}</div>
                  {% if product.info %}
                    <div class="info">{{ product.info }}</div>
                  {% endif %}
                  <div class="price">{{ product.price.utf }}</div>
                  {% csrf_token %}
                  <a href="javascript: void(0)" data-serial="{{ product.serial }}"
                     class="button animated cart-button add-cart">
                    <span>{% trans 'Add to cart' %}</span>
                  </a>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>

      </div>
    </div>
  </div>
</div>