@import "mixins";

.slider3d {
  position: relative;
  line-height: 0;
  text-align: center;

  .slider3d-wrapper {
    position: relative;
    @include transform-style(preserve-3d);
    @include transform(translate3d(0, 0, -0.5em));
    @include transition-property(-webkit-transform, transform);
    @include transition-timing-function(linear);

    &.rotate-right {
      @include transform(translate3d(0, 0, -0.5em) rotateY(-90deg));
    }

    &.rotate-left {
      @include transform(translate3d(0, 0, -0.5em) rotateY(90deg));
    }
  }

  .slide {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 5;
    visibility: hidden;
    @include transform-origin(0 0);

    &.front {
      position: relative;
      left: 0;
      z-index: 10;
      visibility: visible;
      @include transform(translate3d(0, 0, 0.5em));
    }

    &.left {
      visibility: visible;
      @include transform(translate3d(-50%, -50%, -0.5em) rotateY(-90deg));
    }

    &.right {
      visibility: visible;
      @include transform(translate3d(50%, -50%, 0.5em) rotateY(90deg));
    }
  }

  // Controls
  .arrow {
    position: absolute;
    top: 0;
    width: 6%;
    height: 100%;
    min-width: 50px;
    z-index: 10;
    cursor: pointer;
    @include unselectable;

    &:before {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 40px;
      height: 40px;
      background: url(arrows.png) no-repeat;
      background-size: 200%;
      @include transform(translate(-50%, -50%));
      @include transition-property(-webkit-transform, transform);
      @include transition-duration(0.3s);
      @include transition-timing-function(linear);
    }

    &.arrow-left {
      left: 0;

      &:before {
        background-position: left 0;
      }

      &:hover {
        &:before {
          background-position: left -40px;
        }
      }
    }
    &.arrow-right {
      right: 0;

      &:before {
        background-position: right 0;
      }

      &:hover {
        &:before {
          background-position: right -40px;
        }
      }
    }

    &:hover {
      &:before {
        @include transform(translate(-50%, -50%) scale(1.2));
      }
    }
  }
}