{% extends 'mailerlite/layout.html' %}

{% load pipeline_plus %}
{% load staticfiles %}
{% load i18n %}

{% block styles %}
  {{ block.super }}
  {% inline_stylesheet 'mailerlite_standart' %}
{% endblock styles %}


{% block content %}
  <!-- шапка письма -->
  <table align="center" cellspacing="0" cellpadding="0" border="0" class="header-table full-width">
    <tr>
      <td style="width: 100px"></td>

      <td align="center" class="header-cell">
        <a href="http://{{ config.website }}/" target="_blank" class="logo">
          <img src="{% static 'mailerlite/img/logo.png' %}" alt="" border="0" width="170" height="52">
        </a>
      </td>

      <td align="right" style="width: 100px">
        <a href="{$url}" target="_blank" class="backlink">{% trans 'open in browser' %}</a>
      </td>
    </tr>
  </table>

  <!-- Картинка в заголовке -->
  {% if campaign.header_image %}
    <table cellpadding="0" cellspacing="0" border="0" class="full-width">
      <tr>
        <td align="center" class="header-img full-width">
          <img border="0" width="{{ campaign.header_image.normal.target_width }}"
               height="{{ campaign.header_image.normal.target_height }}" alt=""
               src="{{ campaign.header_image.normal.url }}">
        </td>
      </tr>
    </table>
  {% endif %}

  <!-- Контент -->
  <table cellpadding="0" cellspacing="0" border="0" class="full-width">
    <tr>
      <td class="content-cell full-width">
        {{ campaign.text|safe }}
      </td>
    </tr>
  </table>

  <!-- Подвал -->
  <table cellpadding="0" cellspacing="0" border="0" class="full-width">
    <tr>
      <td class="footer full-width">

        <!-- Левая часть -->
        <table align="left" cellpadding="0" cellspacing="0" border="0" class="left-table">
          <tr>
            <td align="left" class="left-cell">
              <span class="note">{{ config.footer_text|linebreaksbr }} </span>
              <a href="{$unsubscribe}" target="_blank">{% trans 'Unsubscribe' %}</a>
            </td>
          </tr>
        </table>

        <!-- Правая часть -->
        <table align="right" cellpadding="0" cellspacing="0" border="0" class="right-table">
          <tr>
            <td align="right" class="right-cell">
              <a style="display: inline-block; margin: 0; border: none;" href="https://www.mailerlite.com">
                <img border="0" alt="MailerLite"
                     src="https://static1.mailerlite.com/images/builder/powered-by-mailerlite.png">
              </a>
            </td>
          </tr>
        </table>

        <!-- Нижняя часть -->
        <table cellspacing="0" cellpadding="0" border="0" class="bottom-table full-width">
          <tr>
            <td class="bottom-cell full-width">
              <a href="http://{{ config.website }}/" target="_blank">{{ config.website }}</a>
              <span style="display: inline-block; height: 1em; width: 1.2em;"></span>
              <a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

{% endblock content %}

{% block mailerlite %}{% endblock mailerlite %}
