{% extends 'mailerlite/layout.html' %}

{% load pipeline_plus %}
{% load i18n %}


{% block styles %}
  {{ block.super }}
  {% inline_stylesheet 'mailerlite_standart' %}
{% endblock styles %}


{% block content %}

  <!-- Картинка в заголовке -->
  {% if campaign.header_image %}
    <table align="center" width="640" cellpadding="0" cellspacing="0" border="0" class="responsive">
      <tr>
        <td align="center" class="header-img">
          <img border="0" width="{{ campaign.header_image.normal.target_width }}"
               height="{{ campaign.header_image.normal.target_height }}" alt=""
               src="{{ campaign.header_image.normal.url }}">
        </td>
      </tr>
    </table>
  {% endif %}


  <!-- Контент -->
  <table align="center" width="640" cellpadding="0" cellspacing="0" border="0" class="responsive">
    <tr>
      <td class="content">
        {{ campaign.text|safe }}
      </td>
    </tr>
  </table>


  <!-- Подвал -->
  <table align="center" width="640" cellpadding="0" cellspacing="0" border="0" class="responsive">
    <tr>
      <td class="footer">

        <!-- Левая часть -->
        <table align="left" width="400" cellpadding="0" cellspacing="0" border="0" class="responsive">
          <tr>
            <td align="left" class="column">
              {{ config.footer_text|linebreaksbr }}

              <a href="{$unsubscribe}" target="_blank" style="color: inherit">
                {% trans 'Unsubscribe' %}
              </a>
            </td>
          </tr>
        </table>

        <!-- Правая часть -->
        <table align="right" width="240" cellpadding="0" cellspacing="0" border="0" class="responsive">
          <tr>
            <td align="right" class="column socials">
              {% if config.facebook %}
                <a href="{{ config.facebook }}" class="facebook" target="_blank"></a>
              {% endif %}
              <a href="mailto:{{ config.contact_email }}" class="mail" target="_blank"></a>
            </td>
          </tr>
        </table>

        <!-- Нижняя часть -->
        <table width="640" cellspacing="0" cellpadding="0" border="0" class="responsive">
          <tr>
            <td class="column" style="padding-top: 20px">
              <a href="mailto:{{ config.contact_email }}">{{ config.contact_email }}</a>
              <span style="display: inline-block; height: 1em; width: 1.2em;"></span>
              <a href="http://{{ config.website }}/" target="_blank">{{ config.website }}</a>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

{% endblock content %}
