# OS or Editor folders
Thumbs.db
.idea
*.orig

#Vagrant
.vagrant
Vagrantfile

#Development configuration
dev.py
/media
/static
/venv

#Python
__pycache__
*.pyc

#SASS
/src/static/scss/*.css
/src/static/scss/*/*.css
/src/*/*/*/*/scss/*.css