@import 'mixins';

.navigation {
  text-align: center;
  @include clearfix;

  .nav-item {
    @include opacity(0.5);

    &.next-item {
      float: right;
    }

    &.prev-item {
      float: left;
    }

    &.link {
      @include opacity(1);

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  .item {
    display: inline-block;
    padding: 0 10px;
    margin: 0 8px;

    &.zip-item {
      padding: 0;
    }

    &.active {
      color: #000000;
    }

    &.link:hover {
      @include opacity(0.8);
    }
  }
}