@import 'mixins';

.navigation {
  font-weight: bold;
  text-align: center;
  @include fontsize_default;
  @include flexbox;
  @include flex-flow(row wrap);
  @include align-items(center);
  @include justify-content(space-between);

  .nav-item {
    @include media_interval(0, $media600) {
      display: none;
    }

    &.prev-page {
      &:before {
        content: '←';
        margin-right: 5px;
        vertical-align: text-bottom;
      }
    }

    &.next-page {
      @include align-self(flex-end);

      &:after {
        content: '→';
        margin-left: 5px;
        vertical-align: text-bottom;
      }
    }

    &:hover {
      @include opacity(0.75);
    }

    &.disabled {
      @include opacity(0.4);
    }
  }

  .pages {
    margin: 0 20px;
    @include media_interval(0, $media600) {
      margin: 0 auto;
    }
  }

  .page {
    display: inline-block;
    min-width: 1.8em;
    margin: 0 0.3em;
    text-align: center;
    &:nth-child(1) {
      margin-left: 0;
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }

    &.zip-item {
      min-width: 1.2em;
      margin: 0;
    }

    &.active {
      color: #00A000;
    }

    &.link:hover {
      @include opacity(0.8);
    }
  }
}