@import "mixins";

#form {
  padding: 40px 0;
  background: #EAEAEA;
  @include font-size(16px);

  label {
    display: block;
  }

  .formset {
    margin-top: 20px;

    .delete-inline {
      margin-left: 10px;
    }
  }

  .send {
    margin-top: 10px;
  }
}
