@import "mixins";


#content {
  background-color: #F2F2F2;
}

#parallax {
  position: relative;
  z-index: 1;
  height: 500px;

  .section-inner {
    color: #FFFFFF;
    text-align: center;
  }
}

#gmap {
  .map {
    height: 800px;
  }
}

#layer-sticky {
  .area {
    position: relative;
    z-index: 1;
    height: 1200px;
    @include linear-gradient(to bottom, #808080, #d0d0d0);
  }

  .layer {
    position: absolute;
    top: 0;
    left: 50px;
    width: 80px;
    height: 80px;
    z-index: 2;
    background: red;
  }

  .sticky {
    position: absolute;
    top: 0;
    left: 200px;
    width: 80px;
    height: 80px;
    z-index: 2;
    background-color: blue;
  }
}
