@import "mixins";


.red {
  background: red;
}

.orange {
  background: orange;
}

.yellow {
  background: yellow;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.gray {
  background: gray;
}


#video {
  background-color: red;

  @at-root .js & .video-bg {
    visibility: hidden;
  }
  @at-root .js &.video-loaded .video-bg {
    visibility: visible;
  }

  .title {
    position: relative;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    @include valign_transform;
  }
}

#parallax_sample {
  position: relative;
  height: 600px;

  .appear-block {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
    background: blue;
    z-index: 3;
    @include valign_transform;

    > div {
      height: 150px;
      @at-root .js & {
        @include opacity(0);
      }

      @each $index in 1, 2, 3, 4 {
        &:nth-of-type(#{$index}) {
          @include transition(opacity 0.5s #{($index - 1) * 0.2}s);
        }
      }
    }

    &.visible > div {
      @include opacity(1);
    }
  }
}

#slider_example {
  padding: 40px 0;
  background: black;

  img {
    width: 60%;
    height: auto;
  }
}