@import "mixins";

#main-slider {
  .slider {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 10;
      background: rgba(0,0,0,0.4);
    }
  }

  .overlay {
    .title {
      color: $white;
      text-align: center;
    }
  }
}


#gallery {

  .slider-item {
    cursor: pointer;
    @include border-box;
    @include media_interval($media1024, 0) {
      @include flex-columns(4, 20px);
      &:nth-child(n+5) {
        display: none;
      }
    }
    @include media_interval($media640, $media1024) {
      @include flex-columns(3, 20px);
      &:nth-child(n+4) {
        display: none;
      }
    }
    @include media_interval($media400, $media640) {
      @include flex-columns(2, 20px);
      &:nth-child(n+3) {
        display: none;
      }
    }
    @include media_interval(0, $media400) {
      &:nth-child(n+2) {
        display: none;
      }
    }
  }

  // до загрузки JS
  .no-slider {
    @include flexbox;
  }

  // после загрузки JS
  .slider-root {
    .slider-slide {
      @include flexbox;
    }

    .slider-arrow {
      background: rgba(#000, 0.5);
      @include media_map(width, $grid_full_paddings);
      @include media_interval(0, $media640) {
        display: none;
      }

      &.slider-arrow-left {
        left: auto;
        right: 100%;
      }

      &.slider-arrow-right {
        left: 100%;
        right: auto;
      }
    }
  }
}