{% extends 'layout.html' %}

{% load pipeline %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'error_page' %}
{% endblock static_head %}


{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

  <div class="grid-block">
    <div class="inner block text-styles">
      <div class="code title-h1">404</div>
      <div class="description">
        {% blocktrans %}
          The page you are looking for no longer exists.<br>
          Perhaps you can return back to the site’s <a href="/">homepage</a> and see if you can find what you are
          looking for.
        {% endblocktrans %}
      </div>
    </div>
  </div>

{% endblock content %}
