{% extends 'layout.html' %}

{% load pipeline %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'error' %}
{% endblock static_head %}


{% block title %}{% trans 'Page not found' %}{% endblock %}

{% block content %}

  <div id="error" class="grid-block block">
    <div class="block-name title-h1">404</div>
    <div class="text text-styles">
      {% blocktrans %}
        The page you are looking for no longer exists.<br>
        Perhaps you can return back to the site’s <a href="/">homepage</a> and see if you can find what you are
        looking for.
      {% endblocktrans %}
    </div>
  </div>

{% endblock content %}
