{% load staticfiles %}
{% load js_storage %}
{% load pipeline %}
{% load opengraph %}
{% load header %}
{% load footer %}
{% load seo %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" class="no-js" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="{{ request.seo.keywords }}"/>
  <meta name="description" content="{{ request.seo.description }}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block extra_meta %}{% endblock extra_meta %}
  <title>{% block title %}{{ request.seo.title }}{% endblock %}</title>
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon"/>
  <link rel="apple-touch-icon-precomposed" sizes="32x32" href="{% static 'img/favicon.png' %}">
  <script>
    var docElement = document.documentElement;
    docElement.className = docElement.className.replace(/\bno-js\b/, '') + ' js';
  </script>
  <script src="{% url 'jsi18n' %}"></script>

  {% opengraph %}

  {% javascript 'head_core' %}
  {% stylesheet 'head_core' %}
  {% block static_head %}
  {% endblock static_head %}

  {% seo_counters 'head' %}
</head>
<body class="{% block bodyclass %}{% endblock %}">
{% seo_counters 'body_top' %}

<div id="wrapper">
  {% block header %}
    <div id="header-wrapper">
      <div id="header-cell">
        {% block header_content %}
          {% if not is_main_page %}
            <!--noindex-->
          {% endif %}
          {% header %}
          {% if not is_main_page %}
            <!--/noindex-->
          {% endif %}
        {% endblock header_content %}
      </div>
    </div>
  {% endblock header %}

  <div id="content-wrapper">
    <div id="content">
      {% block content %}{% endblock content %}
    </div>
  </div>

  {% block footer %}
    <div id="footer-wrapper">
      <div id="footer-cell">
        {% block footer_content %}
          {% if not is_main_page %}
            <!--noindex-->
          {% endif %}
          {% footer %}
          {% if not is_main_page %}
            <!--/noindex-->
          {% endif %}
        {% endblock footer_content %}
      </div>
    </div>
  {% endblock footer %}
</div>

{% block static_js %}
  {% js_storage_out %}
  {% javascript 'core' %}
{% endblock static_js %}

{% seo_counters 'body_bottom' %}
</body>
</html>
