{% load staticfiles %}

<footer itemscope itemtype="https://schema.org/WPFooter">
  <div class="grid-block">

    <div class="flex">
      <div class="copyright-box">
        <p class="copyright">&copy; <span itemprop="copyrightYear">{% now "Y" %}</span> Direct Line Development Inc</p>
      </div>

      <div class="dl-logo-box">
        <script src="http://logo.direktweb.ru/links.js?website=project&referer={{ request.path_info|urlencode }}"></script>
        <script>
          if (window.pasteLogo) pasteLogo();
        </script>
      </div>
    </div>

  </div>
</footer>