@import "mixins";

body {
  font-family: 'Source Sans Pro', sans-serif;
  @include font-size(14px);
}

input[type=number] {
    -moz-appearance: textfield;
}

// не ограниченная высота textarea
.autosize {
    max-height: none;
}

// поля на всю ширину
.full-width {
    width: 90%;
}

// поле ссылки
.url {
  &.input-append {
    display: block;
    margin-right: 30px;
  }

  a:hover {
    background-color: #D0D0D0;
  }
}

td, th {
  // минимальная ширина столбца "view" в списке сущностей
  &.mini-column {
    width: 1%;
  }

  // минимальная ширина для столбца сортировки
  &.sort_order-column {
    width: 1%;
    white-space: nowrap;
  }
}

// минимальная ширина для столбца чекбоксов
.table thead th {
  line-height: 1.1;

  &.action-checkbox-column {
    width: 1%;
  }
}

// не помню для чего, но что-то с CKEditor
.cke_panel {
  overflow: hidden !important;
}


// правка отступа между действиями и списком
.actions {
  margin-bottom: 18px;
}

// правка отступа между действиями и кол-вом сущностей
.pagination-info {
  margin: 0;
}

// правка списков сущностей из-за шрифта
.table.table-condensed tbody th, .table.table-condensed tbody td {
  padding: 5px 10px 5px 10px;
}

// правка положения галочки булевых полей в списках
.table img {
  vertical-align: baseline;
}

// правка положения чекбоксов в сущностях и-за шрифта
.table .action-select {
  margin: -3px 0 0;
}

// правка из-за шрифта
#changelist .actions span.all,
#changelist .actions span.action-counter,
#changelist .actions span.clear,
#changelist .actions span.question {
  vertical-align: middle;
}


// увеличение стандартного поля M2M
.form-horizontal .control-group .controls .selector {
  .selector-available select {
    min-height: 200px;
    @include font-size(12px);
  }

  .selector-chosen select {
    @include font-size(12px);
  }
}

// уродливые белые линии в поле добавления инлайна
.form-horizontal .inline-group .add-row,
.inline-group .tabular table.table tr.add-row td {
  @include box-shadow(none);
}

// уменьшаем столбец с заголовками полей
.form-horizontal .control-group .control-label {
  min-width: 100px;
}
.form-horizontal .inline-related h3 b {
  min-width: 130px;
}

// увеличение нижнего отступа от заголовков
.suit-tab > h2, .form-horizontal .suit-include > h2 {
  margin-bottom: -3px;
}
.form-horizontal fieldset {
  margin-top: 38px;

  .legend {
    margin: -33px 0 0 0;
  }
}

// правка цвета текста autocomplete-поля в инлайне,
// когда этот инлайн двигают.
tr.selected .select2-chosen {
  color: #444;
}

// правка из-за шрифта
[class^="icon-"], [class*=" icon-"] {
  margin-top: 2px;
}

// правка из-за шрифта
input[type="radio"], input[type="checkbox"] {
  margin: 2px 0 0;
}

select, input[type="file"] {
  height: auto;
}

/*
  Font-size
*/
.nav-tabs-suit li a {
  @include font-size(14px);
}

button, select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"],
input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  font-family: 'Source Sans Pro', sans-serif;
  @include font-size(14px);
}

label {
  @include font-size(12px);
}

.btn {
  @include font-size(14px);

  &.btn-small {
    @include font-size(12px);
  }

  &.btn-mini {
    @include font-size(12px);
  }
}