{% extends 'layout.html' %}

{% load pipeline %}
{% load seo %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'main_forms' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'main_forms' %}
{% endblock static_js %}


{% block content %}

  <div id="form">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="grid">
        <div class="gc-full gc-alone">
          {% for field in form %}
            <fieldset>
              {{ field.label_tag }}
              {{ field }}
              {{ field.errors }}
            </fieldset>
          {% endfor %}
        </div>

        <div class="gc-full gc-alone">
          <div class="formset">
            {{ formset.management_form }}

            <div class="forms">
              {% for form in formset %}
                <div class="form">
                  {{ form.id.as_hidden }}

                  {% if formset.can_delete %}
                    {{ form.DELETE.as_hidden }}
                  {% endif %}

                  {{ form.name.label_tag }}
                  {{ form.name }}
                  {{ form.name.errors }}

                  <a class="delete" href="#" style="color: white; margin-left: 10px;">delete</a>
                </div>
              {% endfor %}
            </div>

            <div class="form empty-form">
              {% with form=formset.empty_form %}
                {{ form.id.as_hidden }}

                {% if formset.can_delete %}
                  {{ form.DELETE.as_hidden }}
                {% endif %}

                {{ form.name.label_tag }}
                {{ form.name }}
                {{ form.name.errors }}

                <a class="delete" href="#" style="color: white; margin-left: 10px;">delete</a>
              {% endwith %}
            </div>
          </div>

          <div class="empty-formset" style="display: none">
            {% if formset.can_delete %}
              {{ formset.empty_form.DELETE.as_hidden }}
            {% endif %}

            {% if formset.can_order %}
              {{ formset.empty_form.ORDER.as_hidden }}
            {% endif %}

            <fieldset>
              {{ formset.empty_form.name.label_tag }}
              {{ formset.empty_form.name }}
              {{ formset.empty_form.name.errors }}
            </fieldset>
          </div>

          <div style="margin-top: 10px;">
            <a class="add" href="#" style="color: white;">add form</a>
          </div>

          <input type="submit" value="Send" style="margin-top: 10px;">
        </div>
      </div>
    </form>
  </div>

  {% seo_block %}

{% endblock content %}
