{% extends 'layout.html' %}

{% load pipeline %}
{% load seo %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'main_forms' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'main_forms' %}
  {{ form.media }}
{% endblock static_js %}


{% block content %}

  <div id="form">
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="grid">
        <div class="gc-full gc-alone">
          <div style="display: inline-block">
            {% for field in form %}
              {% if field.name == 'count' %}
                <fieldset class="field-{{ field.name }} {{ field.errors.classes }}">
                  {{ field.label_tag }}
                  <div class="custom-counter">
                    {{ field }}
                  </div>
                  {% if field.errors %}
                    <span class="error">{{ field.errors }}</span>
                  {% endif %}
                </fieldset>
              {% else %}
                <fieldset class="field-{{ field.name }} {{ field.errors.classes }}">
                  {{ field.label_tag }}
                  {{ field }}
                  {% if field.errors %}
                    <span class="error">{{ field.errors }}</span>
                  {% endif %}
                </fieldset>
              {% endif %}
            {% endfor %}
          </div>
        </div>

        <div class="gc-full gc-alone">
          <div style="display: inline-block">
            <div class="formset">
              {{ formset.management_form }}

              <h2 class="title-h2">Inline forms</h2>

              <div class="forms">
                {% for form in formset %}
                  <div class="form">
                    {{ form.id.as_hidden }}

                    {% if formset.can_delete %}
                      {{ form.DELETE.as_hidden }}
                    {% endif %}

                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}

                    <a class="delete-inline" href="#">delete</a>
                  </div>
                {% endfor %}
              </div>

              <div class="empty-form" style="display: none">
                {% with form=formset.empty_form %}
                  <div class="form">
                    {{ form.id.as_hidden }}

                    {% if formset.can_delete %}
                      {{ form.DELETE.as_hidden }}
                    {% endif %}

                    {{ form.name.label_tag }}
                    {{ form.name }}
                    {{ form.name.errors }}

                    <a class="delete-inline" href="#">delete</a>
                  </div>
                {% endwith %}
              </div>
            </div>

            <div style="margin-top: 10px;">
              <a class="add-inline" href="#">add form</a>
            </div>

            <button type="submit" class="send">Send</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="robokassa">
    <form action="{{ robokassa_form.target }}" method="post" target="_blank">
      {{ robokassa_form.as_p }}
      <button type="submit">Robokassa</button>
    </form>
  </div>

  {% seo_block %}

{% endblock content %}
