{% extends 'layout.html' %}

{% load staticfiles %}
{% load compressed %}

{% block static_head %}
    {{ block.super }}
    {% compressed_css 'main_page' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% compressed_js 'main_page' %}
{% endblock static_js %}


{% block content %}
    <div id="video" class="video-bg-container" style="background-image: url({% static 'main/img/river.jpg' %})">
        <video class="video-bg" autoplay="" loop="" preload="auto" muted="">
            <source src="{% static 'main/img/river.mp4' %}" type="video/mp4">
        </video>

        <div class="content grid">
            <div class="gray grid-col-wide-8 grid-col-8 grid-col-tablet-8 grid-col-mobile-4"
                 style="height: 200px">
                <h1 class="title title-h1">{{ config.header_title }}</h1>
            </div>

            <div class="blue grid-col-wide-4 grid-col-4 grid-col-tablet-4 grid-col-mobile-2"
                 style="height: 50px">
            </div>
            <div class="yellow grid-col-wide-4 grid-col-4 grid-col-tablet-4 grid-col-mobile-2"
                 style="height: 50px">
            </div>
        </div>
    </div>

    <div id="parallax_sample" class="parallax">
        <div class="appear-block grid">
            <div class="yellow grid-col-wide-2 grid-col-2 grid-col-tablet-4 grid-col-mobile-4"></div>
            <div class="red grid-col-wide-2 grid-col-2 grid-col-tablet-4 grid-col-mobile-4"></div>
            <div class="gray grid-col-wide-2 grid-col-2 grid-col-tablet-4 grid-col-mobile-4"></div>
            <div class="orange grid-col-wide-2 grid-col-2 grid-col-tablet-4 grid-col-mobile-4"></div>
        </div>
    </div>

{% endblock content %}
