{% extends 'layout.html' %}

{% load staticfiles %}
{% load pipeline %}
{% load social_buttons %}
{% load away %}

{% block static_head %}
    {{ block.super }}
    {% stylesheet 'main_page' %}
{% endblock static_head %}

{% block static_js %}
    {{ block.super }}
    {% javascript 'main_page' %}
{% endblock static_js %}


{% block content %}
    <div id="video" class="section video-bg-container" style="background-image: url({% static 'main/img/river.jpg' %})">
        <video class="video-bg" src="{% static 'main/img/river.mp4' %}" autoplay="" loop="" preload="auto" muted=""></video>

        <div class="inner">
            <div class="grid">
                <div class="gray grid-col-wide-6 grid-col-6 grid-col-alone"
                     style="height: 200px">
                    <h1 class="title title-h1">{{ config.header_title }}</h1>
                </div>

                <div class="blue grid-col-wide-4 grid-col-4 grid-col-tablet-4 grid-col-mobile-2"
                     style="height: 50px">
                </div>
                <div class="yellow grid-col-wide-4 grid-col-4 grid-col-tablet-4 grid-col-mobile-2"
                     style="height: 50px">
                </div>
            </div>
        </div>
    </div>

    <div id="parallax_sample">
        <div class="parallax" style="background-image: url({% static 'main/img/background.jpeg' %})"></div>

        <div class="appear-block grid">
            <div class="yellow grid-col-wide-2 grid-col-2 grid-col-tablet-4"></div>
            <div class="red grid-col-wide-2 grid-col-2 grid-col-tablet-4"></div>
            <div class="gray grid-col-wide-2 grid-col-2 grid-col-tablet-4"></div>
            <div class="orange grid-col-wide-2 grid-col-2 grid-col-tablet-4"></div>
        </div>
    </div>

    <div id="text-content" class="text-styles">
        <div class="grid">
            <div class="grid-col-wide-6 grid-col-6 grid-col-alone">
                {% away config.text|typograf|safe %}
            </div>
        </div>
    </div>
    
    <div id="slider_example">
        <div class="grid">
            <div class="grid-col-full">
                <div class="slider3d">
                    <div class="slider3d-wrapper">
                        <img class="slide front" src="{% static 'main/img/slider/Chrysanthemum.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Desert.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Hydrangeas.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Jellyfish.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Koala.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Lighthouse.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Penguins.jpg' %}">
                        <img class="slide" src="{% static 'main/img/slider/Tulips.jpg' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="social_buttons">
        <div class="grid">
            <div class="grid-col-full">
                {% social_share 'vk' %}
                {% social_share 'fb' %}
                {% social_share 'tw' %}
                {% social_share 'gp' %}
                {% social_share 'li' %}
                {% social_share 'pi' %}
                {% social_share 'sb' %}
                {% social_share 'lj' %}
                {% social_share 'dg' %}
            </div>
        </div>
    </div>

{% endblock content %}
