@import "mixins";


.slider-root {
  position: relative;
  padding: 0 60px;
  @include no_fontsize;

  .slider-list {
    position: relative;
    overflow: hidden;
  }

  .slider-slide {
    position: absolute;
    top: 50%;
    left: -200%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    z-index: 2;
    backface-visibility: hidden;
    @include transform(translate3d(0, -50%, 0));

    img {
      width: 50%;
      height: auto;
    }
  }
}