@import 'mixins';

.breadcrumbs {
  @include font-size(14px);

  .breadcrumb-item {
    display: inline;
    color: #C0C0C0;
    &:nth-last-of-type(1) {
      color: #404040;
      &:after {
        content: none;
      }
    }

    &:after {
      content: '/';
      margin: 0 5px;
    }
  }
}
