@import 'mixins';

// точка перехода к вертикальному подвалу
$column_footer: $media480;


#footer-cell > footer {
  background-color: #D0D0D0;
  @include vpad(40px);

  .flex {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    @include media_interval(0, $column_footer) {
      @include align-items(stretch);
      @include flex-direction(column);
    }
  }

  .copyright-box {
    @include flex(1 1 auto);

    .copyright {
      @include fontsize_default;
    }
  }

  .dl-logo-box {
    @include media_interval(0, $column_footer) {
      margin-top: 16px;
    }

    a {
      display: inline-block;
      vertical-align: middle;

      &:hover {
        @include opacity(0.8);
      }
    }
  }
}


