@import 'mixins';

// размеры логотипа ДЛ
$dl_logo_width: 100px;
$dl_logo_height: 32px;

// точка перехода к вертикальному подвалу
$column_footer: $media480;


#footer-cell > footer {
  background-color: #D0D0D0;
  @include vpad(40px);

  .grid-block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    @include media_interval(0, $column_footer) {
      @include flex-direction(column);
    }
  }

  .copyright {
    @include flex(1 1 auto);
    @include fontsize_default;
  }

  .dl-logo {
    @include media_interval(0, $column_footer) {
      margin-top: 16px;
    }

    a {
      display: inline-block;
      width: $dl_logo_width;
      vertical-align: middle;

      &:before {
        content: '';
        display: block;
        padding-bottom: #{100 * $dl_logo_height/$dl_logo_width + "%"};
        background: $sprite_url no-repeat rel-background-position(
            $dl_logo_width, $dl_logo_height, -86px, -56px
        );
        background-size: rel-background-size($dl_logo_width, $dl_logo_height);
      }

      &:hover {
        @include opacity(0.8);
      }
    }
  }
}


