@import "mixins";

// Цвета
$gray: #909090;
$text_color: #404040;
$link_color: #d3705a;;

// Мобильная версия
$max_width: 640px;
$media_mobile: 680px;

// Переопределяем миксину, чтобы избавиться от REM
@mixin font-size($size, $line_height:0) {
  font-size: $size;
  @if $line_height != 0 {
    line-height: $line_height / $size;
  }
}
