@import "mixins";
@import "conf";

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  color: $text_color;
  font-size: 16px !important;
}

.ExternalClass * {
  line-height: 100%;
}

table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

table, td {
  mso-table-lspace: 0;
  mso-table-rspace: 0;
}

td {
  padding: 0;
  vertical-align: top;
  border-collapse: collapse;
}

h1, h2, td, p, li {
  font-size: 14px;
  line-height: 1.786;
  font-family: Tahoma, Helvetica, Arial, sans-serif;
}

h1 {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: normal;
}

h2 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: normal;
}

p {
  margin: 0 0 1.6em;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: $link_color;
  word-break: break-word;
  text-decoration: underline;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 0;
}

ol {
  padding-left: 1.4em;
  margin: 1.1em 0;
}

ul {
  padding-left: 1em;
  margin: 1.1em 0;
}

li {
  padding: 0;
  margin: 0;
}

/* Windows Phone Viewport Fix */
@-ms-viewport {
  width: device-width;
}

body[yahoo] {
  .wrapper {
    width: 100%;
    table-layout: fixed;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }

  .webkit {
    margin: 0 auto;
    max-width: $max_width;
  }

  .outer {
    margin: 0 auto;
    width: 100%;
    max-width: $max_width;
  }

  .full-width {
    width: 100%;
    max-width: 100%;
    @include media_interval(0, $media_mobile) {
      width: 100% !important;
      max-width: 100% !important;
    }
  }
}
