@import "mixins";
@import "conf";


body[yahoo] {
  /* Шапка */
  .header-table {
    .logo {
      display: inline-block;
      width: 170px;
    }

    .backlink {
      display: inline-block;
      margin-top: 60px;
      color: $gray;
      font-size: 0.75em;
    }
  }

  .header-cell {
    padding-top: 25px;
    padding-bottom: 18px;
  }

  .content-cell {
    padding: 30px 55px 46px;
    background-color: $white;
  }

  /* Footer */
  .footer {
    padding: 20px 0 30px;

    .left-table {
      width: 530px;

      .left-cell {
        color: $gray;
        @include font-size(11px, 18px);

        a {
          color: $gray;
          @include font-size(11px, 18px);
        }
      }
    }

    .right-table {
      width: 110px;
    }

    .bottom-cell {
      @include font-size(12px, 18px);
    }
  }
}
