@import "mixins";

$blue: #5e92dd;
$text: #333333;

h1, h2, h3 {
  color: $blue;
}

/* Шапка */
table[class="header"] {
  @media only screen and (max-width: 680px) {
    display: none;
  }

  td {
    padding-top: 15px;
    padding-bottom: 15px;
    vertical-align: bottom;
  }

  .preheader {
    color: #bcd3f1;
    font-size: 0.875em;
    line-height: 1.2;
  }

  .backlink {
    color: #ffffff;
    font-size: 0.875em;
  }
}

/* Content */
td[class="content"] {
  padding: 40px 60px;
  background-color: #ffffff;
  @media only screen and (max-width: 680px) {
    padding: 30px 20px !important;
    font-size: 14px !important;
  }

  h1:first-child {
    margin-top: 0;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      opacity: 0.75;
    }
  }

  img {
    width: 100%;
  }
}

/* Footer */
td[class="footer"] {
  padding-top: 25px;
  @media only screen and (max-width: 680px) {
    padding: 25px 20px 0 !important;
  }

  .column {
    color: $text;
    font-size: 0.875em;
    @media only screen and (max-width: 680px) {
      text-align: center;
    }

    a {
      color: $text;
    }
  }
}

.socials {
  vertical-align: middle;
  @media only screen and (max-width: 680px) {
    padding-top: 20px !important;
  }

  a {
    display: inline-block;
    margin-left: 6px;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    vertical-align: middle;
    background: url(../img/mail_icons.png) no-repeat 0 0;
    @include no_fontsize;
    @include transition(opacity 0.3s);

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 1;
    }

    &.mail {
      background-position: -60px 0;
    }
  }
}

