@import "mixins";


.users-form {
  @include default_fontsize;
}


.users-login-form {
  label {
    width: 80px;
    word-wrap: break-word;
  }

  .reset-password-popup {
    margin-left: 12px;
  }

  .register-popup {
    margin-left: 10px;
  }
}


.users-register-form {
  label {
    width: 130px;
    word-wrap: break-word;
  }
}


.users-reset-password-form {
  label {
    width: 60px;
    word-wrap: break-word;
  }
}


.users-reset-confirm-form {
  label {
    width: 140px;
    word-wrap: break-word;
  }
}
