{% load cacheblock %}
{% load menu %}

<header>
  <div class="grid-block">

    <div class="flex">
      <div class="logo-box">
        {% if is_main_page %}
          <div class="logo"></div>
        {% else %}
          <a href="/" class="logo"></a>
        {% endif %}
      </div>

      <div class="menu-box">
        <div id="mobile-menu-button">
          <div class="burger"></div>
        </div>

        <nav id="main-menu">
          {% menu 'main' %}
        </nav>

        {% cacheblock 1800 mobile-menu request.path_info %}
          <div id="mobile-menu">
            {% menu 'main' %}
          </div>
        {% endcacheblock %}
      </div>
    </div>

  </div>
</header>