{% load i18n %}

<p class="title">{% trans 'Reset password' %}</p>

{{ form.media }}
<form method="post" action="" id="ajax-reset-password-form" autocomplete="off">
    {% csrf_token %}
    
    {{ form.non_field_errors.as_ul }}
    <fieldset class="{{ form.email.errors.classes }}">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </fieldset>
    
    <fieldset>
        <button type="submit" class="btn">{% trans 'Continue' %}</button>
    </fieldset>
</form>