{% extends 'layout.html' %}
{% load i18n %}

{% block content %}
    <h1 class="title-h1">{% trans 'Reset password' %}</h1>

    {{ form.media }}
    <form method="post" action="" id="reset-confirm-form" autocomplete="off">
        {% csrf_token %}

        {{ form.non_field_errors.as_ul }}
        <fieldset class="{{ form.new_password1.errors.classes }}">
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password1.errors }}
        </fieldset>
        <fieldset class="{{ form.new_password2.errors.classes }}">
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            {{ form.new_password2.errors }}
        </fieldset>

        <fieldset>
            <button type="submit" class="btn">{% trans 'Save' %}</button>
        </fieldset>
    </form>

    <script>
        $('#reset-confirm-form').find('input:visible:first').focus();
    </script>

{% endblock content %}