@import 'mixins';

header {
  position: relative;
  padding: 45px 0;
  width: 100%;
  z-index: 2;
  background: rgba(green, 0.8);
  @include media_interval(0, $media768) {
    padding: 25px 0;
  }

  .table {
    display: table;
    width: 100%;

    .cell {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .menu-wrapper {
    text-align: center;
    @include valign_after;
  }
}

#logo {
  display: inline-block;
  width: 117px;
  height: 60px;
  vertical-align: middle;
  background: url(../../img/logo.png) no-repeat center;

  &:hover {
    @include opacity(0.8);
  }
}

#mobile-menu {
  display: none;
  @include media_interval(0, $media1024) {
    display: inline-block;
  }
}