@import 'mixins';

$logo_width: 240px;
$logo_height: 54px;

header {
  position: relative;
  padding: 30px 0;
  z-index: 2;
  background-color: #D0D0D0;

  .grid-block {
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
  }

  .logo-box {
    @include flex(0 0 auto);

    a {
      display: inline-block;
      width: $logo_width;
      vertical-align: middle;
      @include media_interval(0, $media480) {
        width: 180px;
      }

      &:before {
        content: '';
        display: block;
        padding-bottom: #{100 * $logo_height/$logo_width + "%"};
        background: $sprite_url no-repeat 0 0;
        background-size: rel-background-size($logo_width, $logo_height, $sprite_width, $sprite_height);
      }

      &:hover {
        @include opacity(0.75);
      }
    }
  }

  .menu-box {
    text-align: center;
    @include flex(1 1 auto);
    @include media_interval(0, $mobile_menu_point) {
      text-align: right;
    }
  }
}

