@import 'mixins';

header {
  position: relative;
  z-index: 2;
  background-color: #808080;

  .row {
    padding-top: 20px;
    padding-bottom: 20px;

    .rc {
      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-start);
    }
  }

  .logo-box {
    padding-right: $grid_space;

    a {
      display: inline-block;
      width: 117px;
      height: 60px;
      vertical-align: middle;
      background: url(../../img/logo.png) no-repeat center;

      &:hover {
        @include opacity(0.8);
      }
    }
  }

  .menu-box {
    text-align: center;
    @include flex(1 0 auto);
    @include media_interval(0, $media1024) {
      text-align: right;
    }
  }
}

