@import "mixins";


@mixin horizontal_menu($options: ()) {
  /*
    Базовые стили для горизонтального меню
  */
  $conf: map-merge((
    space: 10px,
    padding: 5px,
    color: $white,
    hover: rgba($white, 0.75),
    active: rgba($white, 0.75),
  ), $options);

  @include no_fontsize;

  li {
    display: inline-block;
    color: map-get($conf, 'color');
    @include media_map(margin-right, map-get($conf, 'space'));
    &:nth-last-of-type(1) {
      margin-right: 0;
    }

    &.active {
      color: map-get($conf, 'active');

      a:hover {
        color: map-get($conf, 'active');
      }
    }
  }

  a {
    display: inline-block;
    padding: map-get($conf, 'padding');

    &:hover {
      color: map-get($conf, 'hover');
    }
  }
}