//=======================
// Точки для media-queries
//=======================
$media1400: 1400px;
$media1366: 1366px;
$media1300: 1300px;
$media1200: 1200px;
$media1024: 1024px;
$media1000: 1000px;
$media900: 900px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media560: 560px;
$media480: 480px;
$media400: 400px;

//=======================
// Сетка
//=======================
$cols_wide: 12;
$cols_desktop: 12;
$cols_tablet: 10;
$cols_mobile: 8;

// Максимальная ширина сетки
$grid_max_width: 1400px;

// Боковые границы каждого столбца
$grid_column_gap: 14px;

// Боковые границы сетки
$grid_paddings: (
    ($media1200, 0): 60px,
    ($media1024, $media1200): 40px,
    ($media768, $media1024): 28px,
    ($media640, $media768): 16px,
    (0, $media640): 6px,
);

// Боковые границы сетки с прибавлением границы столбца
$grid_full_paddings: ();
@each $key, $value in $grid_paddings {
  $grid_full_paddings: map-merge($grid_full_paddings, (
    $key: $value + $grid_column_gap
  ))
}

//=======================
// Sprite
//=======================
$sprite_url: url(/static/img/sprite.svg);
$sprite_width: 200px;
$sprite_height: 140px;

//=======================
// Цвета
//=======================
$white: #ff7626;
$text_color: #2C3035;

//=======================
// Меню
//=======================
$menu_burger_color: #ffb546;
$menu_burger_width: 28px;
$menu_burger_line_height: 4px;
$menu_burger_line_space: 5px;

// интервал показа мобильного меню
$media_mobile: $media1000;

