@import 'mixins/reset';
@import 'mixins/clearfix';
@import 'mixins/grayscale';
@import 'mixins/opacity';
@import 'mixins/linear_gradient';
@import 'mixins/transition';
@import 'mixins/transform';
@import 'mixins/box_sizing';
@import 'mixins/border_radius';
@import 'mixins/valign';
@import 'mixins/unselectable';

// Размеры окна
@mixin media($name) {
  @function media-value($value) {
    $conversion-map: (
      // < 888px
            mobile : "screen and (max-width: 55.5em)",
      // 888px - 984px
            tablet : "screen and (min-width: 55.5em) and (max-width: 61.5em)",
      // 984px - 1200px
            desktop_16: "screen and (min-width: 61.5em) and (max-width: 75em)",
      // 1200px - 1392px
            desktop_16_19: "screen and (min-width: 75em) and (max-width: 87em)",
      // > 1392px
            desktop_over_19: "screen and (min-width: 87em)",
      // > 1680px
            desktop_over_22: "screen and (min-width: 105em)",
      // > 1872px
            desktop_over_25: "screen and (min-width: 117em)"
    );

    @if map-has-key($conversion-map, $value) {
      @return map-get($conversion-map, $value);
    } @else {
      @error "Not found media `#{$value}`";
    }
  }

  @media #{media-value($name)} {
    @content;
  }
}

// Стили текста по умолчанию
@mixin default_font() {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4;
}

// Текст, уходящий в тень.
@mixin long_text($shadow_color: black, $shadow_width: 1.6em, $shadow_height: 100%) {
  position: relative;
  overflow: hidden;
  word-wrap: break-word;

  &:after {
    content: '';
    position: absolute;
    @include linear-gradient(to left, $shadow_color 0, rgba(0, 0, 0, 0) 100%);
    height: $shadow_height;
    width: $shadow_width;
    bottom: 0;
    right: 0;
  }
}