@import 'mixins/animations';
@import 'mixins/background';
@import 'mixins/border_radius';
@import 'mixins/box_sizing';
@import 'mixins/clearfix';
@import 'mixins/font_size';
@import 'mixins/reset';
@import 'mixins/grayscale';
@import 'mixins/linear_gradient';
@import 'mixins/opacity';
@import 'mixins/placeholder';
@import 'mixins/transition';
@import 'mixins/transform';
@import 'mixins/valign';
@import 'mixins/unselectable';

// Точки для media-queries
$desktop_wide: 1200px;
$tablet_wide: 1024px;
$mobile_wide: 768px;
$mobile: 640px;

// Размеры окна
@mixin media($args...) {
  @function media-value($value) {
    $conversion-map: (
            wide: "screen and (min-width: #{$desktop_wide})",
            desktop: "screen and (min-width: #{$tablet_wide}) and (max-width: #{$desktop_wide - 1px})",
            tablet: "screen and (min-width: #{$mobile_wide}) and (max-width: #{$tablet_wide - 1px})",
            mobile: "screen and (max-width: #{$mobile_wide - 1px})",
            mobile_mini: "screen and (max-width: #{$mobile - 1px})"
    );

    @if map-has-key($conversion-map, $value) {
      @return map-get($conversion-map, $value);
    } @else {
      @error "Not found media `#{$value}`";
    }
  }

  @each $name in $args {
    @media #{media-value($name)} {
      @content;
    }
  }
}

@mixin media_interval($from, $to) {
  $line: "";

  @if $from > 0 {
    $line: "(min-width: #{$from})";
  }

  @if $to > 0 {
    @if $from > 0 {
      $line: "#{$line} and (max-width: #{$to - 1px})";
    } @else {
      $line: "(max-width: #{$to - 1px})";
    }
  }

  @media screen and #{$line} {
    @content;
  }
}


// Боковые границы сетки
$grid_padding_wide: 90px;
$grid_padding: 50px;
$grid_padding_mobile: 16px;

// Боковые границы каждого столбца
$grid_col_padding: 14px;

// Максимальная ширина
$grid_max_width: 1400px;

@mixin grid-paddings($args...) {
  @each $key in $args {
    #{$key}: $grid_padding_wide;
  }
  @include media(tablet, desktop) {
    @each $key in $args {
      #{$key}: $grid_padding;
    }
  }
  @include media(mobile) {
    @each $key in $args {
      #{$key}: $grid_padding_mobile;
    }
  }
}

@mixin grid-full-paddings($args...) {
  @each $key in $args {
    #{$key}: $grid_padding_wide + $grid_col_padding;
  }
  @include media(tablet, desktop) {
    @each $key in $args {
      #{$key}: $grid_padding + $grid_col_padding;
    }
  }
  @include media(mobile) {
    @each $key in $args {
      #{$key}: $grid_padding_mobile + $grid_col_padding;
    }
  }
}

// Стили текста
$text_color: #2C3035;

@mixin default_fontsize() {
  @include font-size(16px);
  @include media(mobile_mini) {
    @include font-size(14px);
  }
}

@mixin default_font() {
  font-family: Arial, Helvetica, sans-serif;
}
