@import 'mixins';

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  vertical-align: top;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 16px;
  height: 16px;
  z-index: 1;
  cursor: pointer;
  vertical-align: top;
  background: $sprite_url no-repeat -28px -72px;
  @include border-box;
  @include unselectable;
  @include border_radius(2px);

  &.checked {
    background-position: -28px -56px;
  }

  &.disabled {
    cursor: default;
    @include opacity(0.3);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}