@import 'mixins';

#content-wrapper {
  .content {
    text-align: center;
    vertical-align: middle;
  }
}

.inner {
  display: inline-block;

  .code {
    color: #000000;
    line-height: 1;
    @include font-size(100px);
    @include media_interval(0, $media640) {
      @include font-size(80px);
    }
  }

  .description {
    max-width: 360px;
    margin: 20px auto 0;
    @include media_interval($media400, $media640) {
      max-width: 300px;
    }
    @include media_interval(0, $media400) {
      max-width: 260px;
    }
  }
}