@font-face {
    font-family: 'Alice', serif; /* Имя шрифта */
    font-weight: normal;
    font-style: normal;
    src: url(Alice.ttf); /* Путь к файлу со шрифтом */
   }
   
@font-face {
    font-family: 'Playfair', serif; /* Имя шрифта */
    font-weight: normal;
    font-style: normal;
    src: url(Playfair.ttf); /* Путь к файлу со шрифтом */
   }   
