@import 'mixins';

.grid {
  display: block;
  width: 100%;
  max-width: $grid_max_width;
  @include clearfix;
  @include border-box;
  @include grid-paddings(padding-left, padding-right);
  @include media_interval($grid_max_width, 0) {
    margin: 0 auto;
  }

  .gc-alone {
    float: none;
    clear: both;
  }
}

.gc {
  min-height: 1px;
  padding: 0 $grid_space;
  @include border-box;
}

.gc-center {
  margin-left: auto;
  margin-right: auto;
}

.g-hidden {
  display: none;
}

$cols_wide: 8;
$cols_desktop: 8;
$cols_tablet: 8;
$cols_mobile: 4;

// Wide-desktop (1200+)
@include media_interval($media1200, 0) {
  @for $index from 1 through $cols_wide - 1 {
    .gc-wide-#{$index} {
      @extend .gc;
      float: left;
      width: (100% / $cols_wide) * $index;
    }

    .gc-ml-wide-#{$index} {
      margin-left: (100% / $cols_wide) * $index;
    }
    .gc-mr-wide-#{$index} {
      margin-right: (100% / $cols_wide) * $index;
    }
  }

  .g-wide-show {
    display: block;
  }

  .gc-wide-full {
    @extend .gc;
    width: 100%;
  }
}

// Desktop (1024-1199)
@include media_interval($media1024, $media1200) {
  @for $index from 1 through $cols_desktop - 1 {
    .gc-#{$index} {
      @extend .gc;
      float: left;
      width: (100% / $cols_desktop) * $index;
    }

    .gc-ml-#{$index} {
      margin-left: (100% / $cols_desktop) * $index;
    }
    .gc-mr-#{$index} {
      margin-right: (100% / $cols_desktop) * $index;
    }
  }

  .g-show {
    display: block;
  }

  .gc-full {
    @extend .gc;
    width: 100%;
  }
}

// Tablet (768-1023)
@include media_interval($media768, $media1024) {
  @for $index from 1 through $cols_tablet - 1 {
    .gc-tablet-#{$index} {
      @extend .gc;
      float: left;
      width: (100% / $cols_tablet) * $index;
    }

    .gc-ml-tablet-#{$index} {
      margin-left: (100% / $cols_tablet) * $index;
    }
    .gc-mr-tablet-#{$index} {
      margin-right: (100% / $cols_tablet) * $index;
    }
  }

  .g-tablet-show {
    display: block;
  }

  .gc-tablet-full {
    @extend .gc;
    width: 100%;
  }
}

// Mobile (-767)
@include media_interval(0, $media768) {
  @for $index from 1 through $cols_mobile - 1 {
    .gc-mobile-#{$index} {
      @extend .gc;
      float: left;
      width: (100% / $cols_mobile) * $index;
    }

    .gc-ml-mobile-#{$index} {
      margin-left: (100% / $cols_mobile) * $index;
    }
    .gc-mr-mobile-#{$index} {
      margin-right: (100% / $cols_mobile) * $index;
    }
  }

  .g-mobile-show {
    display: block;
  }

  .gc-mobile-full {
    @extend .gc;
    width: 100%;
  }
}