@import 'mixins';

header {
  padding: 45px 0;
  z-index: 100;
  background: rgba(green, 0.8);
  @include media_interval(0, $media768) {
    padding: 25px 0;
  }

  .table {
    display: table;
    width: 100%;

    .cell {
      float: none;
      display: table-cell;
      vertical-align: middle;
    }
  }

  .menu-wrapper {
    text-align: center;
    @include clearfix;
  }

  .langs {
    float: right;
    margin-top: 3px;
    @include media_interval(0, $media1024) {
      margin-top: 4px;
      margin-right: 20px;
    }
  }

  //.langs-wrapper {
  //  float: right;
  //  height: 27px;
  //  @include valign_after;
  //  @include no_fontsize;
  //  @include media_interval(0, $media1024) {
  //    float: none;
  //    height: auto;
  //    display: inline-block;
  //    vertical-align: middle;
  //  }
  //
  //  .langs {
  //    margin-left: 20px;
  //    vertical-align: middle;
  //    @include media_interval(0, $media1024) {
  //      margin-left: 0;
  //      margin-right: 20px;
  //    }
  //  }
  //}
}

#logo {
  display: inline-block;
  width: 117px;
  height: 60px;
  vertical-align: middle;
  background: url(../img/logo.png) no-repeat center;

  &:hover {
    @include opacity(0.8);
  }
}
