@import 'mixins';

#header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
  padding-top: 45px;
}

/* Логотип */
#logo {
  display: inline-block;
  width: 115px;
  height: 40px;
  vertical-align: middle;

  &:hover {
    @include opacity(0.8);
  }
}
