@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: $text_color;
  line-height: 1.4375;
  @include default_font;
  @include default_fontsize;
}

input:not([type="radio"]):not([type="checkbox"]), select, textarea {
  padding: 5px 6px;
  width: 170px;
  @include default_font;
}

p {
  margin: 0 0 10px;
}

// Заголовки
.title-h1 {
  line-height: 1;
  @include font-size(40px);
  @include media_interval(0, $media768) {
    @include font-size(28px);
  }
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  position: relative;
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;

  .header-wrapper {
    display: table-row;
    height: 0;
  }

  .content-wrapper {
    display: table-row;
  }

  .footer-wrapper {
    display: table-row;
    height: 1px;
  }
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  color: #FFFFFF;
  text-align: center;
  @include border-box;
  @include no_fontsize;
  @include valign_after;

  &.section-full-height {
    height: 768px; // for old
    height: 100vh;
  }
  
  .section-image {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.1%;
    min-height: 100.1%;
    z-index: 2;
    @include transform(translate3d(-50%, -50%, 0));
    @include backface-visibility(hidden);
  }
  
  .section-video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100.1%;
    min-height: 100.1%;
    z-index: 3;
    @include backface-visibility(hidden);
    @include transform(translate3d(-50%, -50%, 0));

    &::-webkit-media-controls {
      display: none;
    }
  }
  @at-root .js & .section-video {
    visibility: hidden;
  }
  @at-root .js &.video-loaded .section-video {
    visibility: visible;
  }
  
  .section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 5;
    vertical-align: middle;
    @include border-box;
  }
}
