@import 'mixins';

@include global-reset;

body {
  color: $text_color;
  line-height: 1.4375;
  @include default_font;
  @include default_fontsize;
}

input, button, select, textarea {
  padding: 5px 6px;
  @include default_font;
}

input[type="text"], input[type="password"], input[type="email"], select, textarea {
  width: 170px;
}

p {
  margin: 0 0 10px;
}

// Заголовки
.title-h1 {
  line-height: 1;
  @include font-size(26px);
  @include media(mobile) {
    @include font-size(20px);
  }
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  position: relative;
  overflow: hidden;
}
