@import "mixins";

.parallax {
  position: absolute;
  left: 50%;
  top: 0;
  width: auto;
  height: 1%;
  min-width: 100%;
  min-height: 100%;
  z-index: 1;
  @include transform(translateX(-50%));
  @include backface-visibility(hidden);
}
