@import 'mixins';

.row {
  width: 100%;
  max-width: $grid_max_width;
  @include flexbox;
  @include flex-flow(row nowrap);
  @include align-items(stretch);
  @include justify-content(flex-start);
  @include border-box;
  @include grid-paddings(padding-left, padding-right);
  @include media_interval($grid_max_width, 0) {
    margin: 0 auto;
  }
}

.rc {
  min-width: 0;
  min-height: 1px;
  padding: 0 $grid_space;
  @include flex(0 1 0);
  @include border-box;
}

// Wide-desktop (1200+)
@include media_interval($media1200, 0) {
  @for $index from 1 through $cols_wide - 1 {
    .rc-wide-#{$index} {
      @extend .rc;
      @include flex-basis((100% / $cols_wide) * $index);
    }
  }

  .rc-wide-full {
    @extend .rc;
    @include flex-basis(100%);
  }
}

// Desktop (1024-1199)
@include media_interval($media1024, $media1200) {
  @for $index from 1 through $cols_desktop - 1 {
    .rc-#{$index} {
      @extend .rc;
      @include flex-basis((100% / $cols_desktop) * $index);
    }
  }

  .rc-full {
    @extend .rc;
    @include flex-basis(100%);
  }
}

// Tablet (768-1023)
@include media_interval($media768, $media1024) {
  @for $index from 1 through $cols_tablet - 1 {
    .rc-tablet-#{$index} {
      @extend .rc;
      @include flex-basis((100% / $cols_tablet) * $index);
    }
  }

  .rc-tablet-full {
    @extend .rc;
    @include flex-basis(100%);
  }
}

// Mobile (-767)
@include media_interval(0, $media768) {
  @for $index from 1 through $cols_mobile - 1 {
    .rc-mobile-#{$index} {
      @extend .rc;
      @include flex-basis((100% / $cols_mobile) * $index);
    }
  }

  .rc-mobile-full {
    @extend .rc;
    @include flex-basis(100%);
  }
}
