@import 'mixins';

/*
    Для случая слайдера фоток на фоне блока с фиксированным контентом.

    Если блок должен быть на всю высоту, то в JS следует создавать
    WinHeightSlider вместо обычного Slider.

    <div class="section section-slider section-full-height">
      <div class="section-inner">
        <div class="slider no-slider">
          <img class="slider-item" src="{% static 'pic1.jpg' %}">
          <img class="slider-item" src="{% static 'pic2.jpg' %}">

          <div class="overlay">
            <div class="grid-block">
              ...
            </div>
          </div>
        </div>
      </div>
    </div>

    JS:
      WinHeightSlider('.top-section .slider', {
          loop: true,
          itemSelector: '.slider-item'
      }).attachPlugins([
          SliderSideAnimation({}),
          SliderSideShortestAnimation({}),
          SliderControlsPlugin({
              animationName: 'side-shortest'
          }),
          SliderNavigationPlugin({
              animationName: 'side',
              container: '.slider-list-wrapper'
          })
      ]);
*/

.section-slider {
  .section-inner {
    height: inherit;
    min-height: inherit;
  }

  .overlay {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 10;
    vertical-align: middle;
  }

  .slider-item {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, -50%));
  }

  // до загрузки JS
  .no-slider {
    height: inherit;
    min-height: inherit;
    @include valign_after;

    .slider-item ~ .slider-item {
      display: none;
    }
  }

  // после загрузки JS
  .slider-root {
    height: inherit;
    min-height: inherit;

    .slider-slide {
      height: inherit;
    }
  }
}