@import 'mixins';

.text-styles {
  @include fontsize_default;

  p {
    margin-bottom: 1em;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }

  a {
    color: #551A8B;
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
    &:active {
      color: red;
    }
  }

  img {
    height: auto;
    margin-bottom: 10px;
  }

  iframe {
    margin-bottom: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: bold;
  }
  h1, h2, h3 {
    margin: 1.1em 0 0.55em;
    word-wrap: break-word;
    @include font-size(30px);
    @include media_interval(0, $media768) {
      @include font-size(24px);
    }
  }
  h4, h5, h6 {
    margin-bottom: 0.75em;
  }

  h2 {
    @include font-size(26px);
    @include media_interval(0, $media768) {
      @include font-size(22px);
    }
  }

  h3 {
    @include font-size(20px);
    @include media_interval(0, $media768) {
      @include font-size(18px);
    }
  }

  ul {
    padding-left: 1.6em;
    margin: 1.1em 0;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    li {
      position: relative;

      &:before {
        content: '●';
        position: absolute;
        left: -1.4em;
        top: 0.7em;
        font-size: 0.8em;
        @include transform(translateY(-50%));
      }
    }
  }

  ol {
    list-style: decimal;
    padding-left: 1.6em;
    margin: 1.1em 0;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }
  }


  // One image
  .single-image {
    margin: 2.2em 0;
    color: #808080;
    line-height: 1.2;
    @include font-size(14px);

    img {
      margin: 0 0 5px;
    }
  }

  // Video
  .page-video {
    position: relative;
    margin: 2.2em 0;
    color: #808080;
    line-height: 1.2;
    text-align: left;
    @include font-size(14px);

    .fluid-width-video-wrapper {
      display: inline-block;
      @include backface-visibility(hidden);
    }

    &.instagram {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;

      iframe {
        width: 100%;
        border: 1px solid #E6E6E6;
        @include border_radius(4px);
      }
    }

    iframe {
      margin: 0;
    }
  }
}
