@import "mixins";

.video-bg-container {
  position: relative;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;

  &::-webkit-media-controls {
    display: none;
  }
}