@import "mixins";

.video-bg-wrapper {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1;

  video {
    position: relative;
    height: 100%;
    width: auto;
    z-index: 1;
  }
}