<div class="button-filter">
  <div class="btn-group">

    {% for choice in choices %}
      <label class="btn {{ choice.selected|yesno:"active," }}"
             for="btn-filter-{{ field_name }}-{{ forloop.counter }}">
        <input type="radio"
               name="{{ field_name }}"
               id="btn-filter-{{ field_name }}-{{ forloop.counter }}"
               value="{{ choice.val }}"
               {% if choice.selected %}checked="checked"{% endif %}>
        {{ choice.display }}
      </label>
    {% endfor %}

  </div>
</div>
