{% extends 'admin/change_list.html' %}

{% block content %}
  <style>
    .rss-networks {
      margin-bottom: 40px;
    }

    .rss-networks h4 {
      margin-bottom: 10px;
    }

    .rss-networks dl {
      margin: 0;
    }

    .rss-networks dt {
      width: 110px;
      text-align: left;
    }

    .rss-networks dd {
      margin-left: 120px;
    }
  </style>


  <div class="rss-networks alert alert-info">
    <h4>Feed URLs:</h4>
    <dl class="dl-horizontal">
      {% for network_code, network_title in networks %}
        <dt>{{ network_title }}</dt>
        <dd>
          <a href="http://{{ request.get_host }}{% url 'social_networks:'|add:network_code %}" target="_blank">
            http://{{ request.get_host }}{% url 'social_networks:'|add:network_code %}
          </a>
        </dd>
      {% endfor %}
    </dl>
  </div>

  {{ block.super }}
{% endblock %}
