@import 'mixins';

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto;
  @include font-size(0);
  @include box_sizing(border-box);
  *zoom: 1;

  img {
    display: block;
  }

  .bx-viewport {
    position: relative;
    z-index: 2;
    @include transform(translatez(0));
  }

  .bx-controls {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 1;
    @include clearfix;
    @include box_sizing(border-box);
  }

  .bx-controls-direction {
    position: relative;
    height: 100%;

    a {
      position: absolute;
      width: 50px;
      height: 100%;
      top: 0;
      outline: 0;
      text-indent: -9999px;
      z-index: 50;
      @include opacity(0.4);
      @include unselectable;

      &.bx-prev {
        left: -30px;
        @include transform(rotate(180deg));
      }

      &.bx-next {
        right: -30px;
      }

      &.disabled {
        display: none;
      }

      &:before {
        content: '';
        position: absolute;
        width: 32px;
        height: 31px;
        left: 50%;
        top: 50%;
        margin-left: -18px;
        margin-top: -18px;
        background: url(slider_controls.png) no-repeat -43px 0;
      }

      &:hover {
        @include opacity(0.8);
      }

      &:active {
        top: 1px;
      }
    }
  }

  /* LOADER */
  .bx-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    min-height: 50px;
    background: url(bx_loader.gif) center center no-repeat #fff;
    z-index: 2000;
  }
}

/* PAGER */
.bx-pager {
  padding: 40px 0;
  text-align: center;
  @include font-size(0);
  @include box_sizing(border-box);
  @include media(desktop) {
    padding: 30px 0;
  }
  @include media(mobile, tablet) {
    padding: 20px 0;
  }

  &.bx-default-pager {
    .bx-pager-item {
      display: inline-block;
      margin: 0 2px;
      @include unselectable;
    }

    a {
      position: relative;
      display: block;
      width: 20px;
      height: 20px;
      text-indent: -9999px;
      @include opacity(0.4);
      @include transition(-webkit-transform 0.3s);
      @include transition(transform 0.3s);

      &:before {
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        left: 50%;
        top: 50%;
        margin-top: -6px;
        margin-left: -6px;
        background: #1F2328;
        @include border_radius(50%);
      }

      &:hover {
        @include opacity(0.6);
        @include transform(scale(1.3));
      }

      &:active, &.active {
        @include opacity(1);
      }

      &.active {
        cursor: default;

        &:hover {
          @include transform(scale(1));
        }
      }
    }
  }
}