@import "mixins";

$button_size: 32px;


#follow-us {
  padding: 40px 0;
  text-align: center;
  background-color: #D0D0D0;

  .buttons {
    a {
      display: inline-block;
      margin-right: 20px;
      width: $button_size;
      &:nth-last-of-type(1) {
        margin-right: 0;
      }

      &:before {
        content: '';
        display: block;
        padding-bottom: 100%;
        background: $sprite_url no-repeat;
        background-size: rel-background-size($button_size, $button_size, $sprite_width, $sprite_height);
      }

      &.fb:before {
        background-position: rel-background-position($button_size, $button_size, $sprite_width, $sprite_height, -188px, -56px);
      }

      &.tw:before {
        background-position: rel-background-position($button_size, $button_size, $sprite_width, $sprite_height, -221px, -56px);
      }

      &.yt:before {
        background-position: rel-background-position($button_size, $button_size, $sprite_width, $sprite_height, -254px, -56px);
      }

      &:hover{
        @include opacity(0.8);
      }
    }
  }
}
