{% load text %}

<div class="seo-text grid">
    <div class="gc-full gc-alone">
        <div class="text-wrapper {% if animated %}animated{% endif %}">
            {% if animated %}
                <p class="text short-text">
                    {{ short_text|typograf }}
                </p>

                <p class="text full-text hidden-text">
                    {{ full_text|typograf }}
                </p>
            {% else %}
                <p class="text full-text">
                    {{ full_text|typograf }}
                </p>
            {% endif %}
        </div>
    </div>
</div>
