{% load i18n %}
{% load paginator %}

<div class="navigation" itemscope itemtype="https://schema.org/SiteNavigationElement">
  {% if not page.has_previous %}
    <span class="nav-item prev-page disabled">{% trans 'Previous' %}</span>
  {% else %}
    <a href="{% href paginator page.previous_page_number %}"
       class="nav-item prev-page"
       data-page="{{ page.previous_page_number }}">{% trans 'Previous' %}</a>
  {% endif %}

  <div class="pages">
    {% for page_num in paginator.zipped_page_range %}
      {% if page_num == None %}
        <span class="page zip-item">...</span>
      {% elif page.number == page_num %}
        <span class="page active">{{ page_num }}</span>
      {% else %}
        <a href="{% href paginator page_num %}" itemprop="url"
           class="page link {% if page.number == page_num %}active{% endif %}"
           data-page="{{ page_num }}">{{ page_num }}</a>
      {% endif %}
    {% endfor %}
  </div>

  {% if not page.has_next %}
    <span class="nav-item next-page disabled">{% trans 'Next' %}</span>
  {% else %}
    <a href="{% href paginator page.next_page_number %}"
       class="nav-item next-page"
       data-page="{{ page.next_page_number }}">{% trans 'Next' %}</a>
  {% endif %}
</div>
