@import 'mixins';

#main-menu {
  height: 50px;
  text-align: center;
  @include valign_middle;

  ul {
    display: inline-block;
    vertical-align: middle;

    li {
      float: left;

      a {
        display: block;
        padding: 10px 15px 12px 15px;
      }
      &.active > a {
        text-decoration: underline;
      }
    }
  }
}