@import 'mixins';

#main-menu {
  height: 50px;
  text-align: center;
  @include valign_middle;
  @include font-size(0);

  ul {
    display: inline-block;
    vertical-align: middle;

    li {
      display: inline-block;
      margin: 0 5px;

      a {
        display: inline-block;
        padding: 5px 10px;
        @include font-size(16px);

        &:hover {
          @include opacity(0.8);
        }
      }
      &.active {
        color: blue;
      }
    }
  }
}