@import 'mixins';

$text_color: #404040;
$hover_color: #82BD36;
$active_color: #82BD36;

$mobile_background: #5B3C2A;
$mobile_text_color: #FFFFFF;
$mobile_hover_color: $hover_color;
$mobile_active_color: $active_color;


#main-menu {
  display: inline-block;
  height: auto !important;
  @include no_fontsize;
  @include media_interval(0, $mobile_menu_point) {
    display: none;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    color: $text_color;
    &:nth-last-of-type(1) {
      margin-right: 0;
    }

    &.active {
      color: $active_color;

      a:hover {
        color: $active_color;
      }
    }
  }

  a {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    @include font-size(18px, 20px);

    &:hover {
      color: $hover_color;
    }
  }
}


#mobile-menu {
  display: none;
  position: absolute;
  padding: 0 70px;
  right: -100%;
  top: 0;
  width: 80%;
  height: 100vh;
  z-index: 50;
  background: $mobile_background;
  @include border-box;
  @include transition(right 0.4s);
  @include media_interval(0, $mobile_menu_point) {
    display: block;
  }

  ul {
    position: relative;
    top: 50%;
    @include transform(translate3d(0, -50%, 0));
  }

  li {
    margin: 24px 0;
    color: $mobile_text_color;
    &:nth-of-type(1) {
      margin-top: 0;
    }
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    &.active {
      color: $mobile_active_color;

      a:hover {
        color: $mobile_active_color;
      }
    }
  }

  a {
    display: inline-block;
    padding: 5px;
    font-weight: bold;
    @include font-size(22px, 28px);

    &:hover {
      color: $mobile_hover_color;
    }
  }

  &.active {
    right: 0;
  }
}


// Кнопка меню для мобильной версии
#mobile-menu-button {
  display: none;
  position: relative;
  width: $menu_burger_width;
  height: 3 * $menu_burger_line_height + 2 * $menu_burger_line_space;
  cursor: pointer;
  text-align: left;
  z-index: 55;
  vertical-align: middle;
  @include unselectable;
  @include media_interval(0, $mobile_menu_point) {
    display: inline-block;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: $menu_burger_line_height;
    background: $menu_burger_color;
    @include transition-timing-function(linear);
  }
  &:before {
    top: 0;
    box-shadow: $menu_burger_color 0 ($menu_burger_line_height + $menu_burger_line_space) 0 0;
    @include transform(translate3d(0, 0, 0) rotate(0deg));
    @include transition-property(-webkit-transform, transform, box-shadow, top);
    @include transition-duration(0.55s, 0.55s, 0.2s, 0.2s);
    @include transition-delay(0s, 0s, 0.45s, 0.45s);
  }
  &:after {
    top: 100%;
    @include transform(translate3d(0, -100%, 0) rotate(0deg));
    @include transition-property(-webkit-transform, transform, top);
    @include transition-duration(0.55s, 0.55s, 0.2s);
    @include transition-delay(0s, 0s, 0.45s);
  }

  &.active {
    &:before {
      top: 50%;
      box-shadow: transparent 0 0 0 0;
      @include transform(translate3d(0, -50%, 0) rotate(225deg));
      @include transition-delay(0.1s, 0.1s, 0s, 0s);
    }
    &:after {
      top: 50%;
      @include transform(translate3d(0, -50%, 0) rotate(315deg));
      @include transition-delay(0.1s, 0.1s, 0s);
    }
  }
}
