@import 'mixins';

.popup-no-scrollbar {
  overflow: hidden !important;
}


#popup-overlay {
  @include opacity(0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(overlay.png) repeat 0 0 black;
  z-index: 100;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
}

#popup-window-wrapper {
  height: 100%;
  @include valign_after;
}

#popup-window {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  margin: 60px auto;
  max-width: 80%;
  min-width: 500px;
  @include media_interval(0, $media768) {
    min-width: 200px;
  }
}

#popup-content {
  overflow: hidden;
  min-height: 200px;
  padding: 36px 50px;
  color: #FFF;
  text-align: initial;
  background-color: #0B0;
  @include border-box;
  @include media_interval(0, $media480) {
    padding: 20px 20px 36px;
    min-height: 100px;
  }

  .title {
    color: #FFF;
    margin-bottom: 30px;
    @include media_interval(0, $media480) {
      margin-bottom: 16px;
    }
  }
}

#popup-close-button {
  position: absolute;
  right: -36px;
  top: -36px;
  width: 36px;
  height: 36px;
  z-index: 100;
  cursor: pointer;
  @include transform(scale(0.8));
  @include transition-property(-webkit-transform, transform);
  @include transition-duration(0.2s);
  @include transition-timing-function(ease-in);
  @include media_interval(0, $media768) {
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
  }

  &:before, &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 5px;
    background: #F2F2F2;
    @include transition-property(background);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-in);
    @include media_interval(0, $media768) {
      background: #FFF;
    }
  }
  &:before {
    @include transform(translate3d(0, -50%, 0) rotate(45deg));
  }
  &:after {
    @include transform(translate3d(0, -50%, 0) rotate(-45deg));
  }

  &:hover {
    @include transform(scale(1));
    &:before, &:after {
        background: #FFF;
    }
  }
}
