@import 'mixins';

// отступы сверху (1024+, 640-1024, 480-640, 0-480)
$window_vertical_margin: 60px, 50px, 40px, 40px;

// максимальная ширина окна (1024+, 640-1024, 480-640, 0-480)
$max_width: 70%, 80%, 80%, 90%;

// цвет фона
$background_color: #C0C0C0;

// кнопка закрытия
$close_btn_size: 21px;
$close_btn_color: #F2F2F2;
$close_btn_weight: 3px;


//=======================
// CORE
//=======================
.popup-opened {
  overflow: hidden !important;
}

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

#popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 101;
  @include font-size(20px);

  .popup-wrapper {
    height: 100%;
    @include no_fontsize;
    @include valign_after;
  }

  .popup-window {
    display: inline-block;
    position: relative;
    max-width: nth($max_width, 1);
    margin: nth($window_vertical_margin, 1) auto;
    z-index: 1;
    text-align: left;
    vertical-align: middle;
    @include border-box;
    @include media_interval($media640, $media1024) {
      max-width: nth($max_width, 2);
      margin-top: nth($window_vertical_margin, 2);
      margin-bottom: nth($window_vertical_margin, 2);
    }
    @include media_interval($media480, $media640) {
      max-width: nth($max_width, 3);
      margin-top: nth($window_vertical_margin, 3);
      margin-bottom: nth($window_vertical_margin, 3);
    }
    @include media_interval(0, $media480) {
      max-width: nth($max_width, 4);
      margin-top: nth($window_vertical_margin, 4);
      margin-bottom: nth($window_vertical_margin, 4);
    }
  }

  .popup-content {
    position: relative;
    overflow: hidden;
    z-index: 5;
    background-color: $background_color;
    @include border-box;
  }

  .popup-close-button {
    position: absolute;
    right: 0;
    top: 0;
    width: $close_btn_size;
    height: $close_btn_size;
    z-index: 2;
    cursor: pointer;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: $close_btn_weight;
      background: $close_btn_color;
    }
    &:before {
      @include transform(translate3d(-50%, -50%, 0) rotate(45deg));
    }
    &:after {
      @include transform(translate3d(-50%, -50%, 0) rotate(-45deg));
    }
  }
}

//=======================
// Theme
//=======================
#popup-overlay {
  background: rgba(0,0,0,0.4);
}

#popup-container {
  .popup-content {
    padding: 36px 50px;
    color: #FFF;
    @include media_interval($media480, $media640) {
      padding: 36px;
    }
    @include media_interval(0, $media480) {
      padding: 20px 20px 36px;
    }
  }

  .popup-close-button {
    @include transform(scale(0.8));
    @include transition-property(-webkit-transform, transform);
    @include transition-duration(0.2s);

    &:hover {
      @include transform(scale(1));
    }
  }
}

#popup-overlay {
  background: rgba(0,0,0,0.4);
}
