@import 'mixins';


// размеры окна
$content_width: (
		($media1024, 0): 260px,
		($media640, $media1024): 250px,
		($media480, $media640): 200px,
		(0, $media480): 150px,
);

$content_height: (
		($media1024, 0): 180px,
		($media640, $media1024): 160px,
		($media480, $media640): 120px,
		(0, $media480): 100px,
);

// размеры прелоадера
$image_size: (
		($media1024, 0): 80px,
		($media640, $media1024): 70px,
		($media480, $media640): 60px,
		(0, $media480): 50px,
);

// цвет прелоадера
$image_color: #82BD36;


#popup-container.popup-preloader {
  .popup-window {
    width: auto;
  }

  .popup-content {
    padding: 0;
    min-height: 0;
    text-align: center;
    @include valign_after;
	  @include media_map(width, $content_width);
	  @include media_map(height, $content_height);
  }

  svg {
    fill: $image_color;
    vertical-align: middle;
	  @include media_map(width, $image_size);
	  @include media_map(height, $image_size);
  }
}
