{% load i18n %}

{{ form.media }}
<div class="comments-wrapper" data-content_type="{{ content_type }}" data-object_id="{{ object_id }}">
  {% include 'comments/comments.html' %}
  {% include 'comments/comments_form.html' %}

  <!-- reply form template -->
  <script class="comments-reply-template" type="text/template">
    <form action="{% url 'comments:post' %}" method="post" class="form comment-post-form" autocomplete="off">
      {{ form.content_type }}
      {{ form.object_id }}
      {{ form.hash }}
      {{ form.parent }}
      <div>
        {{ form.text }}
      </div>
      <button type="submit" class="btn btn-send disabled" disabled="disabled">{% trans 'Send' %}</button>
      <button type="button" class="btn btn-cancel">{% trans 'Cancel' %}</button>
    </form>
  </script>

  <!-- edit form template -->
  <script class="comments-edit-template" type="text/template">
    <form action="{% url 'comments:post' %}" method="post" class="form comment-edit-form" autocomplete="off">
      {{ form.content_type }}
      {{ form.object_id }}
      {{ form.hash }}
      {{ form.parent }}
      <div>
        {{ form.text }}
      </div>
      <button type="submit" class="btn btn-send disabled" disabled="disabled">{% trans 'Save' %}</button>
      <button type="button" class="btn btn-cancel">{% trans 'Cancel' %}</button>
    </form>
  </script>
</div>
