{% load i18n %}

<div class="comments-form-wrapper">
    {% if perms.comments.can_post %}
        <form action="{% url 'comments:post' %}" method="post" class="form comment-post-form" autocomplete="off">
            {% csrf_token %}
            {{ form.content_type }}
            {{ form.object_id }}
            {{ form.hash }}
            {{ form.parent }}
            <fieldset>
                {{ form.text }}
            </fieldset>
            <button type="submit" class="btn btn-send disabled" disabled="disabled">{% trans 'Send' %}</button>
        </form>
    {% else %}
        <div class="auth-needed">
            {% url 'users:login' as login_href %}
            {% blocktrans %}You must <a href="{{ login_href }}" class="login">login</a> to post a comment{% endblocktrans %}
        </div>
    {% endif %}
</div>
