// http://zerosixthree.se/8-sass-mixins-you-must-have-in-your-toolbox/
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;

  @if $size != 0 {
    font-size: calculateRem($size);
  }
}

@mixin no_fontsize() {
  font-size: 0;
}