// Вертикальное центрирование

// Требует position, отличный от static
@mixin valign_transform() {
  top: 50%;
  transform: translate3d(0, -50%, 0);
}

// Применяется к родителю
@mixin valign_after() {
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    min-height: inherit;
    vertical-align: middle;
  }
}
