// Вертикальное центрирование

// Требует position, отличный от static
@mixin valign_transform() {
  top: 50%;
  transform: translateY(-50%);
}

// Применяется к родителю
@mixin valign_after() {
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}