// Вертикальное центрирование

@mixin valign_flex() {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
}

// Применяется к родителю
@mixin valign_after() {
  &:after {
    content: '';
    display: inline-block;
    height: 100%;
    min-height: inherit;
    vertical-align: middle;
  }
}
