/*
  Многоколоночная верстка через flexbox.

  Пример:
    .list {
      @include flexbox;
      @include flex-flow(row wrap);

      .item {
        @include flex-columns(2, 10px);
      }
    }
*/
@mixin flex-columns($columns, $margin-right:0) {
  margin-right: $margin-right;
  max-width: calc(#{100% / $columns} - #{(($columns - 1) * $margin-right) / $columns});
  @include flex(0 1 100%);

  &:nth-of-type(#{$columns}n) {
    margin-right: 0;
  }
}