@import "mixins";

.seo-text {
  
  .text-wrapper {
    position: relative;
    overflow: hidden;
  }

  .text {
    display: block;
    margin: 0;
    overflow: hidden;
    line-height: 17px;
    color: rgba(#FFFFFF, 0.5);
    text-align: justify;
    cursor: pointer;
    @include font-size(11px);
  }

  .short-text {
    &:after {
      content: '>';
      font-family: Verdana;
      color: rgba(#FFFFFF, 0.8);
      vertical-align: top;
    }
  }

  .hidden-text {
    display: block;
    position: absolute;
    width: 100%;
    left: -10000px;
  }

  .readmore {
    @include font-size(11px);
  }
}