@import "mixins";

.seo-text {
  .text {
    max-height: 85px;
    margin: 0 0 6px;
    overflow: hidden;
    line-height: 17px;
    color: #FFFFFF;
    text-align: justify;
    @include opacity(0.5);
    @include font-size(11px);
  }

  .readmore {
    @include font-size(11px);
  }
}