{% extends 'layout.html' %}

{% load attachable_blocks %}
{% load pipeline_plus %}
{% load form_helper %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'contacts' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'contacts' %}
{% endblock static_js %}


{% block content %}

  <div id="contacts" class="block grid-block">
    <div class="title-h1">{{ config.header }}</div>

    <form method="post" action="" id="contact-form">
      {% render_form form %}

      <div class="buttons">
        <button type="submit" class="btn">{% trans 'Send' %}</button>
      </div>
    </form>
  </div>

  <div id="google-map">
    <div class="map"></div>

    <div class="overlay">
      <div class="grid-block">
        <ul class="address-list">
          {% for addr in addresses %}
            <li class="address" data-lat="{{ addr.coords.lat }}" data-lng="{{ addr.coords.lng }}"
                itemscope itemtype="http://schema.org/PostalAddress">
              <p itemprop="streetAddress">{{ addr }}</p>
              <p itemprop="telephone">{{ addr.phones }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% render_attached_blocks config %}

{% endblock content %}
