{% load text %}

<a href="{{ banner.url }}" class="outer-link">

  <div class="flex">
    <div class="photo-box">
      <img src="{{ banner.image.normal.url }}" alt=""
           width="{{ banner.image.normal.target_width }}" 
           height="{{ banner.image.normal.target_height }}">
    </div>

    <div class="text-box">
      {% if banner.header %}
        <div class="title">{{ banner.header }}</div>
      {% endif %}

      {% if banner.text %}
        <div class="text text-styles">{{ banner.text|safe }}</div>
      {% endif %}

      {% if banner.button_text %}
        <button type="submit" class="btn">
          <span>{{ banner.button_text }}</span>
        </button>
      {% endif %}
    </div>
  </div>

</a>