@import "mixins";

.social-button {
  display: inline-block;
  cursor: pointer;
  @include fontsize_default;

  &:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background: url(../img/small.png) no-repeat;
  }
  &.social-fb:before {
    background-position: 0 0;
  }
  &.social-tw:before {
    background-position: -21px 0;
  }
  &.social-vk:before {
    background-position: -84px 0;
  }
  &.social-gp:before {
    background-position: -126px 0;
  }
  &.social-li:before {
    background-position: -756px 0;
  }
  &.social-pn:before {
    background-position: -105px 0;
  }
}
