{% extends 'layout.html' %}

{% load social_buttons %}
{% load pipeline_plus %}
{% load cache %}
{% load away %}
{% load text %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'blog_detail' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'blog_detail' %}
{% endblock static_js %}


{% block content %}

  <div id="blog-post" class="block" itemscope itemtype="http://schema.org/Article">
    {% cache 3600 post_microdata post.pk %}
      <meta itemprop="author" content="{{ config.microdata_author }}">
      <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
      <meta itemprop="dateModified" content="{{ post.updated|date:"c" }}"/>
      <div style="display:none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
          <img itemprop="url" itemprop="image" src="{{ config.microdata_publisher_logo.url }}"/>
          <meta itemprop="width" content="{{ config.microdata_publisher_logo.width }}">
          <meta itemprop="height" content="{{ config.microdata_publisher_logo.height }}">
        </div>
        <meta itemprop="name" content="{{ config.microdata_author }}">
      </div>
      <div style="display: none" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
        <link itemprop="url" href="{{ post.preview.normal.url }}"/>
        <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
        <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
      </div>
    {% endcache %}

    <div class="grid-block">
      <time datetime="{{ post.date|date:"c" }}" class="date" itemprop="datePublished">
        {{ post.date|date }}
      </time>

      <h1 class="title title-h1" itemprop="headline">{{ post.header }}</h1>

      {% if post.preview %}
        <img class="preview" src="{{ post.preview.normal.url }}"
             srcset="{{ post.preview.normal.srcset }}, {{ post.preview.mobile.srcset }}"
             sizes="100vw">
      {% endif %}

      <div class="text text-styles" itemprop="articleBody">
        {% away post.text|typograf %}
      </div>

      <div class="social-buttons no-counter">
        {% social_button 'vk' %}
        {% social_button 'fb' %}
        {% social_button 'tw' %}
        {% social_button 'gp' %}
        {% social_button 'li' %}
        {% social_button 'pn' %}
      </div>
    </div>
  </div>

{% endblock content %}
