{% extends 'layout.html' %}

{% load pipeline_plus %}
{% load cache %}
{% load text %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'blog' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'blog' %}
{% endblock static_js %}


{% block content %}

  <div id="blog" class="block">
    <div class="grid-block">
      <h1 class="title-h1">{{ config.header }}</h1>

      {% if tags %}
        <ul id="tags">
          <li class="tag {% if not current_tag %}active{% endif %}">
            <a href="{% url 'blog:index' %}">{% trans 'All' %}</a>
          </li>

          {% for tag in tags %}
            <li class="tag {% if current_tag.pk == tag.pk %}active{% endif %}">
              <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="posts">
      {% for post in paginator.current_page %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
          {% cache 3600 post_microdata post.pk %}
            <meta itemprop="author" content="{{ config.microdata_author }}">
            <link itemprop="mainEntityOfPage" href="{{ post.get_absolute_url }}"/>
            <meta itemprop="dateModified" content="{{ post.updated|date:"c" }}"/>
            <div style="display:none;" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
              <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img itemprop="url" itemprop="image" src="{{ config.microdata_publisher_logo.url }}"/>
                <meta itemprop="width" content="{{ config.microdata_publisher_logo.width }}">
                <meta itemprop="height" content="{{ config.microdata_publisher_logo.height }}">
              </div>
              <meta itemprop="name" content="{{ config.microdata_author }}">
            </div>
          {% endcache %}

          <div class="grid-block">
            <header>
              <time datetime="{{ post.date|date:"c" }}" class="date" itemprop="datePublished">
                {{ post.date|date:"jS E Y" }}
              </time>

              <h2 class="title title-h1">
                <a href="{{ post.get_absolute_url }}">
                  <span itemprop="headline">{{ post.title }}</span>
                </a>
              </h2>
            </header>

            {% if post.preview %}
              <a href="{{ post.get_absolute_url }}" class="preview" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <img srcset="{{ post.preview.normal.srcset }}, {{ post.preview.mobile.srcset }}"
                     src="{{ post.preview.normal.url }}" sizes="100vw" itemprop="url"
                     width="{{ post.preview.normal.target_width }}"
                     height="{{ post.preview.normal.target_height }}">
                <meta itemprop="width" content="{{ post.preview.normal.target_width }}"/>
                <meta itemprop="height" content="{{ post.preview.normal.target_height }}"/>
              </a>
            {% endif %}

            {% if post.note %}
              <div class="note text-styles" itemprop="articleBody">
                {{ post.note|clean }}
              </div>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>

    {% if paginator.num_pages > 1 %}
      <div id="paginator">
        <div class="grid-block">
          {{ paginator }}
        </div>
      </div>
    {% endif %}
  </div>

{% endblock content %}
