{% extends 'layout.html' %}

{% load pipeline %}
{% load text %}
{% load i18n %}

{% block static_head %}
  {{ block.super }}
  {% stylesheet 'blog_page' %}
{% endblock static_head %}

{% block static_js %}
  {{ block.super }}
  {% javascript 'blog_page' %}
{% endblock static_js %}


{% block content %}

  <div id="blog" class="block">
    <div class="grid-block">
      <h1 class="title-h1">{{ config.header }}</h1>

      {% if tags %}
        <ul id="tags">
          <li class="tag {% if not current_tag %}active{% endif %}">
            <a href="{% url 'blog:index' %}">{% trans 'All' %}</a>
          </li>

          {% for tag in tags %}
            <li class="tag {% if current_tag.pk == tag.pk %}active{% endif %}">
              <a href="{{ tag.get_absolute_url }}">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div id="posts">
      {% for post in paginator.page %}
        <article class="post">
          <div class="grid-block">
            <header>
              <time datetime="{{ post.date|date:"c" }}" class="date">{{ post.date|date }}</time>

              <h2 class="title title-h1">
                <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
              </h2>
            </header>

            {% if post.preview %}
              <a href="{{ post.get_absolute_url }}" class="preview">
                <img srcset="{{ post.preview.normal.srcset }}, {{ post.preview.mobile.srcset }}"
                     src="{{ post.preview.normal.url }}" sizes="100vw">
              </a>
            {% endif %}

            {% if post.note %}
              <div class="note text-styles">
                {{ post.note|clean }}
              </div>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </div>

    {% if paginator.num_pages > 1 %}
      <div id="paginator">
        <div class="grid-block">
          {{ paginator }}
        </div>
      </div>
    {% endif %}
  </div>

{% endblock content %}
